# 1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup
print(soup.prettify())

In [ ]:
headers=soup.find_all(['h1','h2','h3','h4','h5','h6'])
headers

# 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
page = requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup
print(soup.prettify())

In [ ]:
names=soup.find_all('td',class_='titleColumn')
names

In [ ]:
name=[]
for i in range(0,len(names)):
    name.append(names[i].get_text())
name

In [ ]:
name=[s.replace('\n','') for s in name]
name

In [ ]:
ratings=soup.find_all('td',class_='ratingColumn imdbRating')
ratings

In [ ]:
rating=[]
for i in range(0,len(ratings)):
    rating.append(ratings[i].get_text())
rating

In [ ]:
rating=[s.replace('\n','') for s in rating]
rating

In [ ]:
years=soup.find_all('span',class_='secondaryInfo')
years

In [ ]:
year=[]
for i in range(0,len(years)):
    year.append(years[i].get_text())
year

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame()
df['Titles & Year']=name
df['Rating']=rating
df['Year']=year

In [ ]:
df

In [ ]:
df.head(100)

# By using another way

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

table_Movies =pd.read_html('https://www.imdb.com/chart/top/?ref_=nv_mv_250')

In [ ]:
df = pd.DataFrame()

df

In [ ]:
print(f'Total tables:{len(table_Movies)}')

In [ ]:
table_Movies = pd.read_html('https://www.imdb.com/chart/top/?ref_=nv_mv_250')
table_Movies

In [ ]:
df = table_Movies[0]
del df["Unnamed: 0"]
del df["Your Rating"]
del df["Unnamed: 4"]
df.head(100)

In [ ]:
df.to_csv('top100 movies.csv')

# 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

table_imdb_movies =pd.read_html('https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=2e9dfa9b-3e4d-4d39-acd2-8af11f252a59&pf_rd_r=MZV0AVNZ2G8VMWE0THJM&pf_rd_s=right-5&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_india_tr_rhs_1')

In [ ]:
print(f'Total tables:{len(table_imdb_movies)}')

In [ ]:
table_imdb_movies = pd.read_html('https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=2e9dfa9b-3e4d-4d39-acd2-8af11f252a59&pf_rd_r=MZV0AVNZ2G8VMWE0THJM&pf_rd_s=right-5&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_india_tr_rhs_1')
table_imdb_movies

In [ ]:
df = table_imdb_movies[0]
del df["Unnamed: 4"]
del df["Your Rating"]
del df["Unnamed: 0"]
df.head(100)

In [ ]:
df.head(100)

In [ ]:
df.head(100).to_csv('top100 indian imovies.csv', index=False, header=True)

# 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
url = 'https://bookpage.com/reviews'
response = requests.get(url)
htmlcontent = response.content
soup =  BeautifulSoup(htmlcontent, 'html.parser')
print(soup.prettify)

In [ ]:
books=soup.find_all('div',class_='bp-block article-info')
books

In [ ]:
book=[]
for i in range(0,len(books)):
    book.append(books[i].get_text())
book

In [ ]:
book=[s.replace('\n\n\n','') for s in book]
book=[s.replace('\n','') for s in book]
book=[s.replace('★','') for s in book]
book

In [ ]:
len(book)

In [ ]:
authors=soup.find_all('p',class_='sans bold')
authors

In [ ]:
author=[]
for i in range(0,len(authors)):
    author.append(authors[i].get_text())
author

In [ ]:
author=[s.replace('\n','') for s in author]
author

In [ ]:
len(authors)

In [ ]:
genres=soup.find_all('p',class_='genre-links hidden-phone')
genres

In [ ]:
genre=[]
for i in range(0,len(genres)):
    genre.append(genres[i].get_text())
genre

In [ ]:
genre=[s.replace('\n','') for s in genre]
genre

In [ ]:
len(genre)

In [ ]:
reviews=soup.find_all('p',class_='excerpt')
reviews

In [ ]:
review=[]
for i in range(0,len(reviews)):
    review.append(reviews[i].get_text())
review

In [ ]:
review=[s.replace('\n','') for s in review]
review

In [ ]:
print(len(book),len(author),len(genre),len(review))

In [ ]:
import pandas as pd
df = pd.DataFrame()
df

In [ ]:
df['Books']=book
df['Authors']=author
df['Genres']=genre
df['Review']=review

In [ ]:
df

In [ ]:
df.to_csv('bookpage.csv')

# 5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

# i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

table_team =pd.read_html('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [ ]:
print(f'Total tables:{len(table_team)}')

In [ ]:
table_team = pd.read_html('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
len(table_team)

In [ ]:
df = table_team[0]
df.head(10)

#  ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

table_batsmen =pd.read_html('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

In [ ]:
print(f'Total tables:{len(table_batsmen)}')

table_batsmen = pd.read_html('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
len(table_batsmen)

In [ ]:
df = table_batsmen[0]
del df["Career Best Rating"]
df.head(10)

# iii) Top 10 ODI bowlers along with the records of their team and rating.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

table_Bowlers =pd.read_html('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [ ]:
print(f'Total tables:{len(table_Bowlers)}')

In [ ]:
table_Bowlers = pd.read_html('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
len(table_Bowlers)

In [ ]:
df = table_Bowlers[0]
del df["Career Best Rating"]
df.head(10)

#  6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

## i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

table_women_team =pd.read_html('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

In [ ]:
print(f'Total tables:{len(table_women_team)}')

In [ ]:
table_women_team = pd.read_html('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
len(table_women_team)

In [ ]:
df = table_women_team[0]
df.head(10)

## ii) Top 10 women’s ODI players along with the records of their team and rating.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

table_women_batting =pd.read_html('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

In [ ]:
print(f'Total tables:{len(table_women_batting)}')

In [ ]:
table_women_batting = pd.read_html('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
table_women_batting

In [ ]:
df = table_women_batting[0]
del df['Career Best Rating']
df.head(10)

## iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

table_women_all_rounder =pd.read_html('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

In [ ]:
print(f'Total tables:{len(table_women_all_rounder)}')

In [ ]:
table_women_all_rounder = pd.read_html('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
table_women_all_rounder

In [ ]:
df = table_women_all_rounder[0]
df.head(10)

In [ ]:
del df['Career Best Rating']
df

# 7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

### SME told to leave this question. He told to attend this question after learning selenium.

# 8.Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [ ]:
from bs4 import BeautifulSoup
import requests

page = requests.get("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YMwLNfkzbDc")
page

In [ ]:
page.content

In [ ]:
soup=BeautifulSoup(page.content, 'html.parser')
soup

In [ ]:
print(soup.prettify())

In [ ]:
seven_day =soup.find(id="seven-day-forecast")
forecast_item = seven_day.find_all(class_='tombstone-container')
tonight = forecast_item[0]
print(tonight.prettify())

In [ ]:
period = tonight.find(class_='period-name').get_text()
short_desc = tonight.find(class_='short-desc').get_text()
temp = tonight.find(class_='temp').get_text()
print(period)
print(short_desc)
print(temp)

In [ ]:
img = tonight.find('img')
desc = img['title']

print(desc)

In [ ]:
period_tags = seven_day.select(".tombstone-container .period-name")
periods = [pt.get_text() for pt in period_tags]
periods

In [ ]:
short_descs = [sd.get_text() for sd in seven_day.select(".tombstone-container .short-desc")]
temps = [t.get_text() for t in seven_day.select(".tombstone-container .temp")]
descs = [d["title"] for d in seven_day.select(".tombstone-container img")]
print(short_descs)
print(temps)
print(descs)

In [ ]:
import pandas as pd
weather = pd.DataFrame({
        "Period": periods,
         "Short_desc": short_descs,
         "Temp": temps,
         "Desc":descs
    })
weather

# 9.Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
page = requests.get("https://internshala.com/fresher-jobs")
page

In [ ]:
soup=BeautifulSoup(page.content)
soup
print(soup.prettify())

In [ ]:
titles=soup.find_all('div', class_="heading_4_5 profile")
titles

In [ ]:
job_titles=[]
for i in titles:
    job_titles.append(i.text)
job_titles

In [ ]:
job_titles=[]
for i in titles:
    job_titles.append(i.text.replace("\n",''))
job_titles

In [ ]:
len(job_titles)

In [ ]:
companies=soup.find_all('a',class_="link_display_like_text")
companies

In [ ]:
company_names = []
for i in companies:
    company_names.append(i.text.strip())
company_names

In [ ]:
len(company_names)

In [ ]:
others=soup.find_all('div', class_="internship_other_details_container")
others

In [ ]:
other_details = []
for i in others:
    other_details.append(i.text)
other_details

In [ ]:
other_details = []
for i in others:
    other_details.append(i.text.replace("Start date",'').replace("Starts\xa0Immediately",'').replace("\n",''))

other_details

In [ ]:
[x.strip() for x in other_details if x.strip()]

In [ ]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company_names
jobs['CTC & Apply By']=other_details

In [ ]:
jobs

In [ ]:
df=pd.DataFrame(jobs)

In [ ]:
df

In [ ]:
df['CTC & Apply By'] = df['CTC & Apply By'].str.replace(" ","")
print(df)

In [ ]:
df

# 10. Write a python program to scrape house details from mentioned url. It should include house title, location, area, emi and price https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0"

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
url = 'https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&radius=2.0'
response = requests.get(url)
htmlcontent = response.content
soup =  BeautifulSoup(htmlcontent, 'html.parser')
print(soup.prettify)

In [ ]:
flats=soup.find_all('div',class_='nb__2JHKO')
flats

In [ ]:
flat=[]
for i in range(0,len(flats)):
    flat.append(flats[i].get_text())
flat

In [ ]:
flat=[s.replace('4 BHK In Independent House  ','') for s in flat]
flat=[s.replace('4 BHK ','') for s in flat]
flat

In [ ]:
len(flats)

In [ ]:
locations=soup.find_all('div',class_='nb__2CMjv')
locations

In [ ]:
location=[]
for i in range(0,len(locations)):
    location.append(locations[i].get_text())
location

In [ ]:
len(locations)

In [ ]:
emis=soup.find_all('div',class_='nb__17R6o')
emis

In [ ]:
emi=[]
for i in range(0,len(emis)):
    emi.append(emis[i].get_text())
emi

In [ ]:
emi=[s.replace('Title not verifiedNot under loan₹','') for s in emi]
emi

In [ ]:
emi=[s.replace('EMI₹80 Lacs₹6,667 per sq.ft.','') for s in emi]
emi=[s.replace(' 1,200 sqftBuiltup','') for s in emi]
emi=[s.replace('2,600 sqftBuiltup','') for s in emi]
emi=[s.replace('1,100 sqftBuiltup','') for s in emi]
emi=[s.replace('Title not verifiedUnder Loan₹ 1,400 sqftBuiltup','') for s in emi]
emi=[s.replace('2,500 sqftBuiltup','') for s in emi]
emi=[s.replace('EMI₹1.5 Crores₹5,769 per sq.ft.','') for s in emi]
emi=[s.replace('EMI₹70 Lacs₹6,364 per sq.ft.','') for s in emi]
emi=[s.replace('EMI₹35 Lacs₹2,500 per sq.ft.','') for s in emi]
emi=[s.replace('EMI₹2.5 Crores₹10,000 per sq.ft.','') for s in emi]
emi=[s.replace('2,400 sqftBuiltup','') for s in emi]
emi=[s.replace('EMI₹90 Lacs₹3,750 per sq.ft.','') for s in emi]
emi=[s.replace('Title not verifiedUnder Loan₹ 2,650 sqftBuiltup','') for s in emi]
emi=[s.replace('EMI₹1.1 Crores₹4,151 per sq.ft.','') for s in emi]
emi=[s.replace(' 1,120 sqftBuiltup','') for s in emi]
emi=[s.replace('EMI₹50 Lacs₹4,464 per sq.ft.','') for s in emi]
emi=[s.replace('2,350 sqftBuiltup','') for s in emi]
emi=[s.replace('EMI₹1.25 Crores₹5,319 per sq.ft.','') for s in emi]
emi=[s.replace('2,200 sqftBuiltup','') for s in emi]
emi=[s.replace('EMI₹98 Lacs₹4,455 per sq.ft.','') for s in emi]
emi

In [ ]:
emi=[s.replace('/MonthEstimated','') for s in emi]
emi

In [ ]:
areas=soup.find_all('div',class_='nb__17R6o')
areas

In [ ]:
area=[]
for i in range(0,len(areas)):
    area.append(areas[i].get_text())
area

In [ ]:
area=[s.replace('Title not verifiedNot under loan₹','') for s in area]
area=[s.replace('₹45,851/MonthEstimated EMI₹80 Lacs₹6,667 per sq.ft.','') for s in area]
area=[s.replace('₹85,971/MonthEstimated EMI₹1.5 Crores₹5,769 per sq.ft.','') for s in area]
area=[s.replace('₹40,120/MonthEstimated EMI₹70 Lacs₹6,364 per sq.ft.','') for s in area]
area=[s.replace('₹20,060/MonthEstimated EMI₹35 Lacs₹2,500 per sq.ft.','') for s in area]
area=[s.replace('₹1.43 Lacs/MonthEstimated EMI₹2.5 Crores₹10,000 per sq.ft.','') for s in area]
area=[s.replace('₹51,583/MonthEstimated EMI₹90 Lacs₹3,750 per sq.ft.','') for s in area]
area=[s.replace('₹63,045/MonthEstimated EMI₹1.1 Crores₹4,151 per sq.ft.','') for s in area]
area=[s.replace('₹28,657/MonthEstimated EMI₹50 Lacs₹4,464 per sq.ft.','') for s in area]
area=[s.replace('₹71,643/MonthEstimated EMI₹1.25 Crores₹5,319 per sq.ft.','') for s in area]
area=[s.replace('₹56,168/MonthEstimated EMI₹98 Lacs₹4,455 per sq.ft.','') for s in area]
area

In [ ]:
area=[s.replace('₹45,851 80 ₹6,667 ','') for s in area]
area=[s.replace('₹85,971 1.5 Crores₹5,769','') for s in area]
area=[s.replace('₹40,120 70 ₹6,364 ','') for s in area]
area=[s.replace('₹20,060 35 ₹2,500 ','') for s in area]
area=[s.replace('₹1.43  2.5 Crores₹10,000 ','') for s in area]
area=[s.replace('₹51,583 90 ₹3,750 ','') for s in area]
area=[s.replace('₹63,045 1.1 Crores₹4,151 ','') for s in area]
area=[s.replace('₹28,657 50 ₹4,464 ','') for s in area]
area=[s.replace('₹71,643 1.25 Crores₹5,319 ','') for s in area]
area=[s.replace('₹56,168 98 ₹4,455 ','') for s in area]
area

In [ ]:
area=[s.replace(' sqftBuiltup','')for s in area]
area=[s.replace('₹','')for s in area]
area=[s.replace('Title not verifiedUnder Loan ','')for s in area]
area

In [ ]:
prices=soup.find_all('div',class_='font-semi-bold heading-6')
prices

In [ ]:
price=[]
for i in range(0,len(prices)):
    price.append(prices[i].get_text())
price

In [ ]:
del price[0:30:3]

In [ ]:
price

In [ ]:
del price[0:20:2]

In [ ]:
price

In [ ]:
print(len(flat),len(location),len(area),len(emi),len(price))

In [ ]:
df = pd.DataFrame()
df

In [ ]:
df['House Title']=flat
df['Location']=location
df['Area (sqft)']=area
df['EMI / Month']=emi
df['Price']=price

In [ ]:
df