In [1]:
import csv
import sys
from datetime import date
import pandas as pd
import selenium.webdriver
import numpy as np
from bs4 import BeautifulSoup
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from dateutil.relativedelta import relativedelta

In [2]:
#for exception
import linecache
import sys

def PrintException():
    exc_type, exc_obj, tb = sys.exc_info()
    f = tb.tb_frame
    lineno = tb.tb_lineno
    filename = f.f_code.co_filename
    linecache.checkcache(filename)
    line = linecache.getline(filename, lineno, f.f_globals)
    print('EXCEPTION IN ({}, LINE {} "{}"): {}'.format(filename, lineno, line.strip(), exc_obj))

In [3]:
def scrap(origin,destin,trDate):
    global none
    # User defined variables for data retreival
    #origin = "BOM" 				# Origin airport code
    #destin = "DEL" 				# Destination airport code
    #trDate = ('30'+'/'+'09'+'/2021')			# Date as 1st command line argument.
    #print(sys.argv)

    """ The following is the Base Url for fetching data from MakeMyTrip Website.
        This URL appears in the search bar after origin, destination and date inputs on the landing page.
        Thus, this URL can be changed based on User Inputs and required data can be fetched.
    """
    baseDataUrl = "https://www.makemytrip.com/flight/search?itinerary="+ origin +"-"+ destin +"-"+ trDate +"&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng"
    
    try:
        driver = selenium.webdriver.Chrome(r'C:\Users\tusha\Downloads\selenium driver\chromedriver.exe') # Chrome driver is being used.
        print ("Requesting URL: " + baseDataUrl)

        driver.get(baseDataUrl)  			 # URL requested in browser.
        print ("Webpage found ...")

        element_xpath = '//*[@id="left-side--wrapper"]/div[2]' # First box with relevant flight data.

        # Wait until the first box with relevant flight data appears on Screen
        element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))

        # Scroll the page till bottom to get full data available in the DOM.
        print ("Scrolling document upto bottom ...")
        for j in range(1, 100):
            driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

        # Find the document body and get its inner HTML for processing in BeautifulSoup parser.
        body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

        print("Closing Chrome ...") # No more usage needed.
        driver.quit() 				# Browser Closed.

        print("Getting data from DOM ...")
        soupBody = BeautifulSoup(body) # Parse the inner HTML using BeautifulSoup
        
        # Extract the required tags 
        spanFlightName = soupBody.find_all("span", 'boldFont blackText airlineName')		# Tags with Flight Name
        print("spanFlightName  = " + str(len(spanFlightName)))

        Time = soupBody.find_all("p", {"class":"blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"})			# Tags with Departure Time
        print("Time Count in Scraping  = " + str(len(Time)))

        City = soupBody.findAll("p", {"class": "darkText"})				# Tags with Departure City
        print("City Count in Scraping  = " + str(len(City)))

        spanFlightCost = soupBody.findAll("p", {"class": "blackText fontSize18 blackFont white-space-no-wrap"})			# Tags with Flight Cost
        print("spanFlightCost Count in Scraping  = " + str(len(spanFlightCost)))

        pFlightStops = soupBody.findAll("p", {"class": "flightsLayoverInfo"})			# Tags with flight stops
        print("pFlightStops Count in Scraping  = " + str(len(pFlightStops)))
        
        transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops)



   
    except :
        PrintException()
        print(trDate," scraping complete")
        
        none =True 
    # EOF
    # ----------------------------------------------------------------------------------------------------------
    #print("Records\nFlight Name: "+ str(len(spanFlightName)) + "\nFlightCode: "+ str(len(pFlightCode)) + "\nDept Time: "+ str(len(divDeptTime)) + "\nDept City: "+ str(len(pDeptCity)) + "\nFlight Duration: "+ str(len(pFlightDuration)) + "\nArrival Time: "+ str(len(pArrivalTime)) + "\nArrival City: "+ str(len(pArrivalCity)) + "\nFlight Cost: "+ str(len(spanFlightCost)))
    #print(flightsData)
    #print(outputFile)

In [4]:
dates=(pd.date_range(start='26/10/2021', end='26/11/2021')) #dates 

New_date=[]
for i,date in enumerate(dates):
    day=str(date.day).zfill(2)   # 1 --->01,2--->02 conversion
    month=str(date.month).zfill(2)
    year=str(date.year)
    
    date=day+'/'+month+'/'+year  #formating date
    New_date.append(date)
print(New_date)

['26/10/2021', '27/10/2021', '28/10/2021', '29/10/2021', '30/10/2021', '31/10/2021', '01/11/2021', '02/11/2021', '03/11/2021', '04/11/2021', '05/11/2021', '06/11/2021', '07/11/2021', '08/11/2021', '09/11/2021', '10/11/2021', '11/11/2021', '12/11/2021', '13/11/2021', '14/11/2021', '15/11/2021', '16/11/2021', '17/11/2021', '18/11/2021', '19/11/2021', '20/11/2021', '21/11/2021', '22/11/2021', '23/11/2021', '24/11/2021', '25/11/2021', '26/11/2021']

In [5]:
# various list container
Airline=[]
Journey_date=[]
From=[]
To=[]
Price=[]
Dtime=[]
Atime=[]
Stops=[]

flight_data = pd.DataFrame(np.nan, index=[0], columns=['Airline', 'Journey_date','From','To','Dtime','Atime','Stops','Price'])
flight_data.to_csv('Flight.csv')
#transforming scraped data 
def transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops):
    
    Airline.clear()
    Journey_date.clear()
    Price.clear()
    Stops.clear()
    From.clear()
    Dtime.clear()
    To.clear()
    Atime.clear()
    
    global flight_data
    print("Transaform Function Running.... ")
    for i in range(0,len(spanFlightName)):
        
        Airline.append(spanFlightName[i].string)
        Journey_date.append(trDate)
        Price.append(spanFlightCost[i].string)
        Stops.append(pFlightStops[i].string)
        
      
    for j in range(0,len(Time)):
        
        if(j%2==0):
            
            From.append(City[j].string)
            Dtime.append(Time[j].string)
        else:
            
            To.append(City[j].string)
            Atime.append(Time[j].string) 

            
            
    temp = {'Airline':Airline,
            'Journey_date':Journey_date,
            'From':From,
            'To':To,
            'Dtime':Dtime,
            'Atime':Atime,
            'Stops':Stops,
            'Price':Price}
    df=pd.DataFrame(temp)
    
    df.to_csv('Flight.csv', mode='a', header=False)
        
    flight_data = pd.concat([flight_data,df])
    flight_data=flight_data.reset_index(drop=True)
    display(flight_data)
    print('Lenght : ',len(flight_data))

In [6]:
## applying various state combination and extrating  1 month flight data

list_of_state=['BOM','BLR','DEL','HYD']
# 
for i in range(0,len(list_of_state)):
    orgin=list_of_state[i]
    for_to=list_of_state
    
    
    
    print("--------------")
    for j in range(0,len(for_to)):
        destin=for_to[j]
        none = False
        print("origin = "+orgin)
        print("destin = "+destin+'\n')
        
        if orgin!=destin:
            for i,date in enumerate(New_date) :
                if none !=True:
                    scrap(orgin,destin,date)
                    print(" ")
                else:
                    break
                
        else: 
            
            print( "-----Skiped-----")
            print(" ")

--------------
origin = BOM
destin = BOM

-----Skiped-----

origin = BOM
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 47
Time Count in Scraping  = 94
City Count in Scraping  = 94
spanFlightCost Count in Scraping  = 47
pFlightStops Count in Scraping  = 47
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
5,Go First,26/10/2021,Mumbai,Bengaluru,09:50,13:25,1 stop via Goa,"₹ 5,102"
6,Go First,26/10/2021,Mumbai,Bengaluru,09:50,13:25,1 stop via Goa,"₹ 5,102"
7,Go First,26/10/2021,Mumbai,Bengaluru,05:35,13:25,1 stop via Goa,"₹ 5,102"
8,Go First,26/10/2021,Mumbai,Bengaluru,16:00,22:15,1 stop via Ahmedabad,"₹ 5,102"
9,Go First,26/10/2021,Mumbai,Bengaluru,11:50,22:15,1 stop via Ahmedabad,"₹ 5,102"
10,Go First,26/10/2021,Mumbai,Bengaluru,15:45,22:20,1 stop via New Delhi,"₹ 5,102"
11,Go First,26/10/2021,Mumbai,Bengaluru,16:10,23:40,1 stop via Jaipur,"₹ 5,102"
12,Go First,26/10/2021,Mumbai,Bengaluru,08:30,23:40,1 stop via Jaipur,"₹ 5,102"
13,Go First,26/10/2021,Mumbai,Bengaluru,21:40,08:20,1 stop via New Delhi,"₹ 5,102"
14,Go First,26/10/2021,Mumbai,Bengaluru,19:20,08:20,1 stop via New Delhi,"₹ 5,102"
15,IndiGo,26/10/2021,Mumbai,Bengaluru,05:10,06:45,Non stop,"₹ 5,103"
16,Air India,26/10/2021,Mumbai,Bengaluru,09:30,11:10,Non stop,"₹ 5,103"
17,IndiGo,26/10/2021,Mumbai,Bengaluru,09:55,11:40,Non stop,"₹ 5,103"
18,IndiGo,26/10/2021,Mumbai,Bengaluru,15:00,16:45,Non stop,"₹ 5,103"
19,Air India,26/10/2021,Mumbai,Bengaluru,16:45,18:30,Non stop,"₹ 5,103"
20,IndiGo,26/10/2021,Mumbai,Bengaluru,17:45,19:25,Non stop,"₹ 5,103"
21,IndiGo,26/10/2021,Mumbai,Bengaluru,19:25,21:10,Non stop,"₹ 5,103"
22,IndiGo,26/10/2021,Mumbai,Bengaluru,20:45,22:35,Non stop,"₹ 5,103"
23,AirAsia,26/10/2021,Mumbai,Bengaluru,12:15,13:50,Non stop,"₹ 5,104"
24,Vistara,26/10/2021,Mumbai,Bengaluru,16:00,17:45,Non stop,"₹ 5,104"
25,Vistara,26/10/2021,Mumbai,Bengaluru,19:10,20:55,Non stop,"₹ 5,104"
26,AirAsia,26/10/2021,Mumbai,Bengaluru,20:50,22:25,Non stop,"₹ 5,104"
27,Vistara,26/10/2021,Mumbai,Bengaluru,21:00,22:50,Non stop,"₹ 5,104"
28,IndiGo,26/10/2021,Mumbai,Bengaluru,07:05,09:00,Non stop,"₹ 5,208"
29,IndiGo,26/10/2021,Mumbai,Bengaluru,13:45,15:25,Non stop,"₹ 5,208"
30,Vistara,26/10/2021,Mumbai,Bengaluru,07:00,08:50,Non stop,"₹ 5,681"
31,Vistara,26/10/2021,Mumbai,Bengaluru,09:05,10:45,Non stop,"₹ 5,681"
32,IndiGo,26/10/2021,Mumbai,Bengaluru,08:35,10:15,Non stop,"₹ 6,048"
33,IndiGo,26/10/2021,Mumbai,Bengaluru,16:30,18:15,Non stop,"₹ 6,048"
34,IndiGo,26/10/2021,Mumbai,Bengaluru,12:05,16:25,1 stop via Hyderabad,"₹ 7,991"
35,IndiGo,26/10/2021,Mumbai,Bengaluru,12:05,16:25,1 stop via Hyderabad,"₹ 7,991"
36,IndiGo,26/10/2021,Mumbai,Bengaluru,13:45,19:50,1 stop via Hyderabad,"₹ 7,991"
37,IndiGo,26/10/2021,Mumbai,Bengaluru,15:50,21:05,1 stop via Mangalore,"₹ 8,043"
38,IndiGo,26/10/2021,Mumbai,Bengaluru,18:05,22:35,1 stop via Goa,"₹ 8,096"
39,IndiGo,26/10/2021,Mumbai,Bengaluru,16:45,22:35,1 stop via Goa,"₹ 8,096"
40,Vistara,26/10/2021,Mumbai,Bengaluru,11:25,16:00,1 stop via Goa,"₹ 8,148"
41,Vistara,26/10/2021,Mumbai,Bengaluru,10:15,16:00,1 stop via Goa,"₹ 8,148"
42,IndiGo,26/10/2021,Mumbai,Bengaluru,18:15,22:35,1 stop via Hyderabad,"₹ 8,253"
43,IndiGo,26/10/2021,Mumbai,Bengaluru,16:25,22:35,1 stop via Hyderabad,"₹ 8,253"
44,IndiGo,26/10/2021,Mumbai,Bengaluru,10:35,16:25,1 stop via Hyderabad,"₹ 8,516"
45,IndiGo,26/10/2021,Mumbai,Bengaluru,09:00,14:15,1 stop via Goa,"₹ 8,621"
46,IndiGo,26/10/2021,Mumbai,Bengaluru,09:00,13:25,1 stop via Goa,"₹ 8,936"
47,IndiGo,26/10/2021,Mumbai,Bengaluru,13:00,17:45,1 stop via Chennai,"₹ 8,936"

Lenght :  48

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-27/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 51
Time Count in Scraping  = 102
City Count in Scraping  = 104
spanFlightCost Count in Scraping  = 51
pFlightStops Count in Scraping  = 51
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
94,IndiGo,27/10/2021,Mumbai,Bengaluru,15:50,21:05,1 stop via Mangalore,"₹ 8,516"
95,IndiGo,27/10/2021,Mumbai,Bengaluru,10:20,15:25,1 stop via Chennai,"₹ 8,883"
96,IndiGo,27/10/2021,Mumbai,Bengaluru,13:00,17:45,1 stop via Chennai,"₹ 8,883"
97,IndiGo,27/10/2021,Mumbai,Bengaluru,06:45,12:00,1 stop via Chennai,"₹ 8,936"
98,Air India,27/10/2021,Mumbai,Bengaluru,09:30,11:10,Non stop,"₹ 14,238"

Lenght :  99

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-28/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 54
Time Count in Scraping  = 108
City Count in Scraping  = 110
spanFlightCost Count in Scraping  = 54
pFlightStops Count in Scraping  = 54
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
148,IndiGo,28/10/2021,Mumbai,Bengaluru,15:50,21:05,1 stop via Mangalore,"₹ 8,043"
149,Air India,28/10/2021,Mumbai,Bengaluru,05:45,11:20,1 stop via Hyderabad,"₹ 8,148"
150,IndiGo,28/10/2021,Mumbai,Bengaluru,18:05,22:35,1 stop via Goa,"₹ 8,201"
151,Vistara,28/10/2021,Mumbai,Bengaluru,11:25,16:00,1 stop via Goa,"₹ 8,568"
152,IndiGo,28/10/2021,Mumbai,Bengaluru,09:00,13:25,1 stop via Goa,"₹ 8,621"

Lenght :  153

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-29/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
205,IndiGo,29/10/2021,Mumbai,Bengaluru,10:20,15:25,1 stop via Chennai,"₹ 9,146"
206,IndiGo,29/10/2021,Mumbai,Bengaluru,13:00,17:45,1 stop via Chennai,"₹ 9,146"
207,IndiGo,29/10/2021,Mumbai,Bengaluru,15:50,21:05,1 stop via Mangalore,"₹ 9,146"
208,Go First,29/10/2021,Mumbai,Bengaluru,09:50,13:25,1 stop via Goa,"₹ 10,039"
209,Vistara,29/10/2021,Mumbai,Bengaluru,11:25,16:00,1 stop via Goa,"₹ 10,406"

Lenght :  210

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 53
Time Count in Scraping  = 106
City Count in Scraping  = 108
spanFlightCost Count in Scraping  = 53
pFlightStops Count in Scraping  = 53
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
258,IndiGo,30/10/2021,Mumbai,Bengaluru,13:45,19:50,1 stop via Hyderabad,"₹ 9,723"
259,Vistara,30/10/2021,Mumbai,Bengaluru,11:25,16:00,1 stop via Goa,"₹ 10,406"
260,Go First,30/10/2021,Mumbai,Bengaluru,09:50,13:25,1 stop via Goa,"₹ 11,403"
261,IndiGo,30/10/2021,Mumbai,Bengaluru,10:05,14:15,1 stop via Goa,"₹ 12,506"
262,Air India,30/10/2021,Mumbai,Bengaluru,16:45,18:30,Non stop,"₹ 12,663"

Lenght :  263

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-31/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
290,IndiGo,31/10/2021,Mumbai,Bengaluru,07:45,09:25,Non stop,"₹ 6,783"
291,AirAsia,31/10/2021,Mumbai,Bengaluru,22:55,10:40,1 stop via New Delhi,"₹ 6,784"
292,Go First,31/10/2021,Mumbai,Bengaluru,14:35,16:10,Non stop,"₹ 6,836"
293,Vistara,31/10/2021,Mumbai,Bengaluru,16:00,17:45,Non stop,"₹ 7,046"
294,IndiGo,31/10/2021,Mumbai,Bengaluru,06:55,08:30,Non stop,"₹ 7,098"

Lenght :  295

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-01/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 37
Time Count in Scraping  = 74
City Count in Scraping  = 76
spanFlightCost Count in Scraping  = 37
pFlightStops Count in Scraping  = 37
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
327,AirAsia,01/11/2021,Mumbai,Bengaluru,21:20,23:15,Non stop,"₹ 5,104"
328,IndiGo,01/11/2021,Mumbai,Bengaluru,09:30,11:20,Non stop,"₹ 5,313"
329,IndiGo,01/11/2021,Mumbai,Bengaluru,06:55,08:30,Non stop,"₹ 5,471"
330,Air India,01/11/2021,Mumbai,Bengaluru,09:30,11:10,Non stop,"₹ 5,733"
331,IndiGo,01/11/2021,Mumbai,Bengaluru,14:20,16:05,Non stop,"₹ 6,258"

Lenght :  332

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-02/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 36
Time Count in Scraping  = 72
City Count in Scraping  = 72
spanFlightCost Count in Scraping  = 36
pFlightStops Count in Scraping  = 36
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
363,Vistara,02/11/2021,Mumbai,Bengaluru,19:10,20:55,Non stop,"₹ 5,104"
364,Vistara,02/11/2021,Mumbai,Bengaluru,21:00,22:50,Non stop,"₹ 5,104"
365,AirAsia,02/11/2021,Mumbai,Bengaluru,21:20,23:15,Non stop,"₹ 5,104"
366,IndiGo,02/11/2021,Mumbai,Bengaluru,14:20,16:05,Non stop,"₹ 5,208"
367,IndiGo,02/11/2021,Mumbai,Bengaluru,17:10,18:55,Non stop,"₹ 5,471"

Lenght :  368

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-03/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 54
Time Count in Scraping  = 108
City Count in Scraping  = 110
spanFlightCost Count in Scraping  = 54
pFlightStops Count in Scraping  = 54
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
417,IndiGo,03/11/2021,Mumbai,Bengaluru,16:25,22:00,1 stop via Chennai,"₹ 9,146"
418,IndiGo,03/11/2021,Mumbai,Bengaluru,05:40,09:15,1 stop via Goa,"₹ 9,461"
419,IndiGo,03/11/2021,Mumbai,Bengaluru,16:55,23:05,1 stop via Goa,"₹ 9,461"
420,IndiGo,03/11/2021,Mumbai,Bengaluru,10:30,15:40,1 stop via Chennai,"₹ 9,881"
421,Spicejet,03/11/2021,Mumbai,Bengaluru,15:30,09:00,1 stop via Goa,"₹ 10,563"

Lenght :  422

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-04/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 68
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
450,IndiGo,04/11/2021,Mumbai,Bengaluru,07:45,09:25,Non stop,"₹ 6,468"
451,IndiGo,04/11/2021,Mumbai,Bengaluru,04:50,06:40,Non stop,"₹ 6,783"
452,Go First,04/11/2021,Mumbai,Bengaluru,06:05,07:40,Non stop,"₹ 6,836"
453,IndiGo,04/11/2021,Mumbai,Bengaluru,15:15,21:35,1 stop via Hubli,"₹ 7,203"
454,Vistara,04/11/2021,Mumbai,Bengaluru,07:00,08:50,Non stop,"₹ 7,571"

Lenght :  455

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-05/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 53
Time Count in Scraping  = 106
City Count in Scraping  = 108
spanFlightCost Count in Scraping  = 53
pFlightStops Count in Scraping  = 53
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
503,IndiGo,05/11/2021,Mumbai,Bengaluru,07:45,09:25,Non stop,"₹ 9,828"
504,Go First,05/11/2021,Mumbai,Bengaluru,19:15,23:40,1 stop via Ahmedabad,"₹ 10,851"
505,Go First,05/11/2021,Mumbai,Bengaluru,19:15,23:40,1 stop via Ahmedabad,"₹ 10,851"
506,IndiGo,05/11/2021,Mumbai,Bengaluru,05:40,09:15,1 stop via Goa,"₹ 12,191"
507,Spicejet,05/11/2021,Mumbai,Bengaluru,15:30,09:00,1 stop via Goa,"₹ 12,873"

Lenght :  508

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-06/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
560,IndiGo,06/11/2021,Mumbai,Bengaluru,05:40,09:20,1 stop via Goa,"₹ 11,666"
561,IndiGo,06/11/2021,Mumbai,Bengaluru,10:30,15:40,1 stop via Chennai,"₹ 12,191"
562,IndiGo,06/11/2021,Mumbai,Bengaluru,14:05,20:05,1 stop via Goa,"₹ 12,296"
563,IndiGo,06/11/2021,Mumbai,Bengaluru,07:30,12:10,1 stop via Goa,"₹ 13,136"
564,IndiGo,06/11/2021,Mumbai,Bengaluru,07:45,09:25,Non stop,"₹ 14,238"

Lenght :  565

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-07/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 56
Time Count in Scraping  = 112
City Count in Scraping  = 114
spanFlightCost Count in Scraping  = 56
pFlightStops Count in Scraping  = 56
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
616,IndiGo,07/11/2021,Mumbai,Bengaluru,06:55,08:30,Non stop,"₹ 14,238"
617,IndiGo,07/11/2021,Mumbai,Bengaluru,07:45,09:25,Non stop,"₹ 14,238"
618,IndiGo,07/11/2021,Mumbai,Bengaluru,14:20,16:05,Non stop,"₹ 14,238"
619,Go First,07/11/2021,Mumbai,Bengaluru,14:35,16:10,Non stop,"₹ 14,238"
620,IndiGo,07/11/2021,Mumbai,Bengaluru,17:10,18:55,Non stop,"₹ 14,238"

Lenght :  621

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-08/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 59
Time Count in Scraping  = 118
City Count in Scraping  = 120
spanFlightCost Count in Scraping  = 59
pFlightStops Count in Scraping  = 59
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
675,Air India,08/11/2021,Mumbai,Bengaluru,09:30,11:10,Non stop,"₹ 7,623"
676,IndiGo,08/11/2021,Mumbai,Bengaluru,07:30,12:10,1 stop via Goa,"₹ 7,844"
677,IndiGo,08/11/2021,Mumbai,Bengaluru,07:30,12:10,1 stop via Goa,"₹ 7,844"
678,IndiGo,08/11/2021,Mumbai,Bengaluru,16:20,20:45,1 stop via Hyderabad,"₹ 7,844"
679,Spicejet,08/11/2021,Mumbai,Bengaluru,15:30,09:00,1 stop via Goa,"₹ 8,883"

Lenght :  680

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-09/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 56
Time Count in Scraping  = 112
City Count in Scraping  = 112
spanFlightCost Count in Scraping  = 56
pFlightStops Count in Scraping  = 56
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
731,IndiGo,09/11/2021,Mumbai,Bengaluru,08:30,10:05,Non stop,"₹ 6,783"
732,Go First,09/11/2021,Mumbai,Bengaluru,06:05,07:40,Non stop,"₹ 6,836"
733,IndiGo,09/11/2021,Mumbai,Bengaluru,10:30,15:40,1 stop via Chennai,"₹ 6,930"
734,IndiGo,09/11/2021,Mumbai,Bengaluru,15:15,21:35,1 stop via Hubli,"₹ 6,930"
735,IndiGo,09/11/2021,Mumbai,Bengaluru,17:10,18:55,Non stop,"₹ 7,518"

Lenght :  736

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-10/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 59
Time Count in Scraping  = 118
City Count in Scraping  = 120
spanFlightCost Count in Scraping  = 59
pFlightStops Count in Scraping  = 59
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
790,IndiGo,10/11/2021,Mumbai,Bengaluru,16:55,23:05,1 stop via Goa,"₹ 5,560"
791,IndiGo,10/11/2021,Mumbai,Bengaluru,12:45,18:10,1 stop via Hyderabad,"₹ 6,017"
792,IndiGo,10/11/2021,Mumbai,Bengaluru,16:20,20:45,1 stop via Hyderabad,"₹ 6,017"
793,IndiGo,10/11/2021,Mumbai,Bengaluru,16:25,22:00,1 stop via Chennai,"₹ 6,017"
794,IndiGo,10/11/2021,Mumbai,Bengaluru,00:05,03:45,1 stop via Goa,"₹ 6,930"

Lenght :  795

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-11/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
847,IndiGo,11/11/2021,Mumbai,Bengaluru,05:15,09:15,1 stop via Goa,"₹ 5,560"
848,IndiGo,11/11/2021,Mumbai,Bengaluru,05:15,09:15,1 stop via Goa,"₹ 5,560"
849,IndiGo,11/11/2021,Mumbai,Bengaluru,14:05,20:05,1 stop via Goa,"₹ 5,560"
850,IndiGo,11/11/2021,Mumbai,Bengaluru,16:55,23:05,1 stop via Goa,"₹ 5,560"
851,IndiGo,11/11/2021,Mumbai,Bengaluru,16:20,20:45,1 stop via Hyderabad,"₹ 6,017"

Lenght :  852

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-12/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 59
Time Count in Scraping  = 118
City Count in Scraping  = 120
spanFlightCost Count in Scraping  = 59
pFlightStops Count in Scraping  = 59
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
906,IndiGo,12/11/2021,Mumbai,Bengaluru,12:45,19:35,1 stop via Hyderabad,"₹ 6,017"
907,IndiGo,12/11/2021,Mumbai,Bengaluru,16:20,20:45,1 stop via Hyderabad,"₹ 6,017"
908,IndiGo,12/11/2021,Mumbai,Bengaluru,18:30,22:50,1 stop via Hyderabad,"₹ 6,017"
909,IndiGo,12/11/2021,Mumbai,Bengaluru,17:10,22:50,1 stop via Hyderabad,"₹ 6,017"
910,IndiGo,12/11/2021,Mumbai,Bengaluru,16:55,23:05,1 stop via Goa,"₹ 6,017"

Lenght :  911

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-13/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 59
Time Count in Scraping  = 118
City Count in Scraping  = 120
spanFlightCost Count in Scraping  = 59
pFlightStops Count in Scraping  = 59
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
965,Go First,13/11/2021,Mumbai,Bengaluru,14:35,16:10,Non stop,"₹ 6,258"
966,IndiGo,13/11/2021,Mumbai,Bengaluru,10:30,15:40,1 stop via Chennai,"₹ 6,473"
967,IndiGo,13/11/2021,Mumbai,Bengaluru,14:20,16:05,Non stop,"₹ 6,783"
968,IndiGo,13/11/2021,Mumbai,Bengaluru,07:10,13:20,1 stop via Hyderabad,"₹ 6,930"
969,IndiGo,13/11/2021,Mumbai,Bengaluru,12:45,18:10,1 stop via Hyderabad,"₹ 6,930"

Lenght :  970

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-14/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 60
Time Count in Scraping  = 120
City Count in Scraping  = 120
spanFlightCost Count in Scraping  = 60
pFlightStops Count in Scraping  = 60
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
1025,IndiGo,14/11/2021,Mumbai,Bengaluru,12:45,18:10,1 stop via Hyderabad,"₹ 6,930"
1026,IndiGo,14/11/2021,Mumbai,Bengaluru,16:20,20:45,1 stop via Hyderabad,"₹ 6,930"
1027,IndiGo,14/11/2021,Mumbai,Bengaluru,16:55,23:05,1 stop via Goa,"₹ 6,930"
1028,IndiGo,14/11/2021,Mumbai,Bengaluru,06:55,08:30,Non stop,"₹ 8,463"
1029,IndiGo,14/11/2021,Mumbai,Bengaluru,20:30,22:15,Non stop,"₹ 9,093"

Lenght :  1030

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-15/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
1082,IndiGo,15/11/2021,Mumbai,Bengaluru,10:30,15:40,1 stop via Chennai,"₹ 6,017"
1083,AirAsia,15/11/2021,Mumbai,Bengaluru,02:35,04:15,Non stop,"₹ 6,127"
1084,Go First,15/11/2021,Mumbai,Bengaluru,06:05,07:40,Non stop,"₹ 6,258"
1085,IndiGo,15/11/2021,Mumbai,Bengaluru,07:15,14:10,1 stop via Chennai,"₹ 6,473"
1086,IndiGo,15/11/2021,Mumbai,Bengaluru,23:05,06:25,1 stop via Chennai,"₹ 6,473"

Lenght :  1087

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-16/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 60
Time Count in Scraping  = 120
City Count in Scraping  = 122
spanFlightCost Count in Scraping  = 60
pFlightStops Count in Scraping  = 60
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
1142,IndiGo,16/11/2021,Mumbai,Bengaluru,17:10,22:50,1 stop via Hyderabad,"₹ 5,560"
1143,IndiGo,16/11/2021,Mumbai,Bengaluru,16:55,23:05,1 stop via Goa,"₹ 5,560"
1144,IndiGo,16/11/2021,Mumbai,Bengaluru,14:20,16:05,Non stop,"₹ 5,628"
1145,IndiGo,16/11/2021,Mumbai,Bengaluru,07:15,14:10,1 stop via Chennai,"₹ 6,017"
1146,IndiGo,16/11/2021,Mumbai,Bengaluru,11:30,16:00,1 stop via Goa,"₹ 6,930"

Lenght :  1147

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-17/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 59
Time Count in Scraping  = 118
City Count in Scraping  = 120
spanFlightCost Count in Scraping  = 59
pFlightStops Count in Scraping  = 59
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
1201,IndiGo,17/11/2021,Mumbai,Bengaluru,07:10,13:20,1 stop via Hyderabad,"₹ 5,560"
1202,IndiGo,17/11/2021,Mumbai,Bengaluru,05:15,09:15,1 stop via Goa,"₹ 6,017"
1203,IndiGo,17/11/2021,Mumbai,Bengaluru,16:20,20:45,1 stop via Hyderabad,"₹ 6,017"
1204,IndiGo,17/11/2021,Mumbai,Bengaluru,23:05,06:25,1 stop via Chennai,"₹ 6,017"
1205,IndiGo,17/11/2021,Mumbai,Bengaluru,12:45,18:10,1 stop via Hyderabad,"₹ 6,473"

Lenght :  1206

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-18/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 58
Time Count in Scraping  = 116
City Count in Scraping  = 118
spanFlightCost Count in Scraping  = 58
pFlightStops Count in Scraping  = 58
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
1259,IndiGo,18/11/2021,Mumbai,Bengaluru,10:30,15:40,1 stop via Chennai,"₹ 6,473"
1260,Air India,18/11/2021,Mumbai,Bengaluru,05:45,10:25,1 stop via Hyderabad,"₹ 6,739"
1261,IndiGo,18/11/2021,Mumbai,Bengaluru,14:05,20:05,1 stop via Goa,"₹ 6,930"
1262,IndiGo,18/11/2021,Mumbai,Bengaluru,05:15,09:15,1 stop via Goa,"₹ 7,387"
1263,IndiGo,18/11/2021,Mumbai,Bengaluru,11:30,16:00,1 stop via Goa,"₹ 7,844"

Lenght :  1264

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-19/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 62
Time Count in Scraping  = 124
City Count in Scraping  = 126
spanFlightCost Count in Scraping  = 62
pFlightStops Count in Scraping  = 62
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
1321,IndiGo,19/11/2021,Mumbai,Bengaluru,23:05,06:25,1 stop via Chennai,"₹ 6,473"
1322,IndiGo,19/11/2021,Mumbai,Bengaluru,23:05,06:25,1 stop via Chennai,"₹ 6,473"
1323,IndiGo,19/11/2021,Mumbai,Bengaluru,07:15,14:10,1 stop via Chennai,"₹ 6,930"
1324,IndiGo,19/11/2021,Mumbai,Bengaluru,10:30,15:40,1 stop via Chennai,"₹ 6,930"
1325,IndiGo,19/11/2021,Mumbai,Bengaluru,04:35,10:05,1 stop via Chennai,"₹ 7,844"

Lenght :  1326

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-20/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 59
Time Count in Scraping  = 118
City Count in Scraping  = 120
spanFlightCost Count in Scraping  = 59
pFlightStops Count in Scraping  = 59
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
1380,IndiGo,20/11/2021,Mumbai,Bengaluru,16:25,22:00,1 stop via Chennai,"₹ 6,017"
1381,IndiGo,20/11/2021,Mumbai,Bengaluru,07:40,12:45,1 stop via Pune,"₹ 6,473"
1382,IndiGo,20/11/2021,Mumbai,Bengaluru,10:30,15:40,1 stop via Chennai,"₹ 6,473"
1383,IndiGo,20/11/2021,Mumbai,Bengaluru,07:10,13:20,1 stop via Hyderabad,"₹ 6,930"
1384,IndiGo,20/11/2021,Mumbai,Bengaluru,12:45,18:10,1 stop via Hyderabad,"₹ 6,930"

Lenght :  1385

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-21/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 61
Time Count in Scraping  = 122
City Count in Scraping  = 124
spanFlightCost Count in Scraping  = 61
pFlightStops Count in Scraping  = 61
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
1441,IndiGo,21/11/2021,Mumbai,Bengaluru,07:10,13:20,1 stop via Hyderabad,"₹ 6,473"
1442,IndiGo,21/11/2021,Mumbai,Bengaluru,10:30,15:40,1 stop via Chennai,"₹ 6,473"
1443,IndiGo,21/11/2021,Mumbai,Bengaluru,16:55,23:05,1 stop via Goa,"₹ 6,473"
1444,IndiGo,21/11/2021,Mumbai,Bengaluru,12:45,18:10,1 stop via Hyderabad,"₹ 6,930"
1445,IndiGo,21/11/2021,Mumbai,Bengaluru,05:15,09:15,1 stop via Goa,"₹ 7,387"

Lenght :  1446

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-22/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 60
Time Count in Scraping  = 120
City Count in Scraping  = 122
spanFlightCost Count in Scraping  = 60
pFlightStops Count in Scraping  = 60
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
1501,IndiGo,22/11/2021,Mumbai,Bengaluru,04:35,10:05,1 stop via Chennai,"₹ 9,146"
1502,IndiGo,22/11/2021,Mumbai,Bengaluru,16:25,22:00,1 stop via Chennai,"₹ 9,146"
1503,IndiGo,22/11/2021,Mumbai,Bengaluru,12:45,18:10,1 stop via Hyderabad,"₹ 9,198"
1504,AirAsia,22/11/2021,Mumbai,Bengaluru,04:45,08:25,1 stop via Goa,"₹ 9,201"
1505,Go First,22/11/2021,Mumbai,Bengaluru,11:30,15:10,1 stop via Goa,"₹ 10,669"

Lenght :  1506

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-23/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 63
Time Count in Scraping  = 126
City Count in Scraping  = 128
spanFlightCost Count in Scraping  = 63
pFlightStops Count in Scraping  = 63
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
1564,IndiGo,23/11/2021,Mumbai,Bengaluru,18:30,22:50,1 stop via Hyderabad,"₹ 7,991"
1565,IndiGo,23/11/2021,Mumbai,Bengaluru,17:10,22:50,1 stop via Hyderabad,"₹ 7,991"
1566,IndiGo,23/11/2021,Mumbai,Bengaluru,19:55,01:05,1 stop via Hyderabad,"₹ 7,991"
1567,IndiGo,23/11/2021,Mumbai,Bengaluru,07:10,13:20,1 stop via Hyderabad,"₹ 8,201"
1568,Air India,23/11/2021,Mumbai,Bengaluru,09:00,15:20,1 stop via Chennai,"₹ 8,443"

Lenght :  1569

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 58
Time Count in Scraping  = 116
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 58
pFlightStops Count in Scraping  = 58
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
1622,IndiGo,24/11/2021,Mumbai,Bengaluru,15:15,21:35,1 stop via Hubli,"₹ 4,629"
1623,AirAsia,24/11/2021,Mumbai,Bengaluru,04:45,08:25,1 stop via Goa,"₹ 4,733"
1624,IndiGo,24/11/2021,Mumbai,Bengaluru,05:15,09:15,1 stop via Goa,"₹ 5,209"
1625,IndiGo,24/11/2021,Mumbai,Bengaluru,18:45,22:30,1 stop via Mangalore,"₹ 5,416"
1626,Go First,24/11/2021,Mumbai,Bengaluru,11:30,15:10,1 stop via Goa,"₹ 5,451"

Lenght :  1627

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
1679,IndiGo,25/11/2021,Mumbai,Bengaluru,00:25,09:15,1 stop via Goa,"₹ 5,209"
1680,IndiGo,25/11/2021,Mumbai,Bengaluru,18:45,22:30,1 stop via Mangalore,"₹ 5,731"
1681,IndiGo,25/11/2021,Mumbai,Bengaluru,15:15,21:35,1 stop via Hubli,"₹ 6,011"
1682,Go First,25/11/2021,Mumbai,Bengaluru,11:30,15:10,1 stop via Goa,"₹ 6,092"
1683,IndiGo,25/11/2021,Mumbai,Bengaluru,05:15,09:15,1 stop via Goa,"₹ 6,312"

Lenght :  1684

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 58
Time Count in Scraping  = 116
City Count in Scraping  = 118
spanFlightCost Count in Scraping  = 58
pFlightStops Count in Scraping  = 58
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
1737,IndiGo,26/11/2021,Mumbai,Bengaluru,00:25,09:15,1 stop via Goa,"₹ 5,261"
1738,IndiGo,26/11/2021,Mumbai,Bengaluru,10:30,15:40,1 stop via Chennai,"₹ 5,285"
1739,IndiGo,26/11/2021,Mumbai,Bengaluru,18:45,22:30,1 stop via Mangalore,"₹ 5,416"
1740,IndiGo,26/11/2021,Mumbai,Bengaluru,15:15,21:35,1 stop via Hubli,"₹ 5,706"
1741,IndiGo,26/11/2021,Mumbai,Bengaluru,05:15,09:15,1 stop via Goa,"₹ 7,200"

Lenght :  1742

origin = BOM
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 68
Time Count in Scraping  = 136
City Count in Scraping  = 136
spanFlightCost Count in Scraping  = 68
pFlightStops Count in Scraping  = 68
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
1805,Air India,26/10/2021,Mumbai,New Delhi,16:55,23:55,1 stop via Ahmedabad,"₹ 8,988"
1806,IndiGo,26/10/2021,Mumbai,New Delhi,05:35,10:50,1 stop via Udaipur,"₹ 9,093"
1807,IndiGo,26/10/2021,Mumbai,New Delhi,11:10,16:10,1 stop via Jodhpur,"₹ 9,723"
1808,IndiGo,26/10/2021,Mumbai,New Delhi,14:25,19:35,1 stop via Indore,"₹ 10,143"
1809,Air India,26/10/2021,Mumbai,New Delhi,16:00,18:20,Non stop,"₹ 11,298"

Lenght :  1810

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-27/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 72
Time Count in Scraping  = 144
City Count in Scraping  = 146
spanFlightCost Count in Scraping  = 72
pFlightStops Count in Scraping  = 72
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
1877,IndiGo,27/10/2021,Mumbai,New Delhi,16:15,22:15,1 stop via Ahmedabad,"₹ 9,251"
1878,IndiGo,27/10/2021,Mumbai,New Delhi,14:25,19:35,1 stop via Indore,"₹ 9,618"
1879,IndiGo,27/10/2021,Mumbai,New Delhi,11:10,16:10,1 stop via Jodhpur,"₹ 9,776"
1880,Air India,27/10/2021,Mumbai,New Delhi,05:35,10:10,1 stop via Nagpur,"₹ 9,828"
1881,Air India,27/10/2021,Mumbai,New Delhi,19:25,00:25,1 stop via Hyderabad,"₹ 9,828"

Lenght :  1882

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-28/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
EXCEPTION IN (<ipython-input-3-7266f55c7cd2>, LINE 25 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

28/10/2021  scraping complete

origin = BOM
destin = HYD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-HYD-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 35
Time Count in Scraping  = 70
City Count in Scraping  = 70
spanFlightCost Count in Scraping  = 35
pFlightStops Count in Scraping  = 35
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
1912,IndiGo,26/10/2021,Mumbai,Hyderabad,16:45,21:25,1 stop via Goa,"₹ 9,041"
1913,IndiGo,26/10/2021,Mumbai,Hyderabad,07:25,12:30,1 stop via Goa,"₹ 9,146"
1914,Vistara,26/10/2021,Mumbai,Hyderabad,14:40,19:50,1 stop via New Delhi,"₹ 9,879"
1915,Vistara,26/10/2021,Mumbai,Hyderabad,17:30,22:55,1 stop via New Delhi,"₹ 9,879"
1916,Vistara,26/10/2021,Mumbai,Hyderabad,11:55,17:00,1 stop via New Delhi,"₹ 10,058"

Lenght :  1917

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-HYD-27/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
EXCEPTION IN (<ipython-input-3-7266f55c7cd2>, LINE 25 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

27/10/2021  scraping complete

--------------
origin = BLR
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 44
Time Count in Scraping  = 88
City Count in Scraping  = 88
spanFlightCost Count in Scraping  = 44
pFlightStops Count in Scraping  = 44
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
1956,IndiGo,26/10/2021,Bengaluru,Mumbai,11:00,15:35,1 stop via Hyderabad,"₹ 8,118"
1957,IndiGo,26/10/2021,Bengaluru,Mumbai,18:30,23:10,1 stop via Mangalore,"₹ 8,118"
1958,Air India,26/10/2021,Bengaluru,Mumbai,18:45,23:30,1 stop via Hyderabad,"₹ 8,224"
1959,IndiGo,26/10/2021,Bengaluru,Mumbai,09:00,13:15,1 stop via Mangalore,"₹ 8,591"
1960,Vistara,26/10/2021,Bengaluru,Mumbai,19:25,23:00,1 stop via Hyderabad,"₹ 8,644"

Lenght :  1961

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-27/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 49
Time Count in Scraping  = 98
City Count in Scraping  = 100
spanFlightCost Count in Scraping  = 49
pFlightStops Count in Scraping  = 49
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2005,Air India,27/10/2021,Bengaluru,Mumbai,18:45,23:30,1 stop via Hyderabad,"₹ 8,224"
2006,IndiGo,27/10/2021,Bengaluru,Mumbai,09:00,13:15,1 stop via Mangalore,"₹ 8,486"
2007,IndiGo,27/10/2021,Bengaluru,Mumbai,18:30,23:10,1 stop via Mangalore,"₹ 8,588"
2008,Vistara,27/10/2021,Bengaluru,Mumbai,19:25,23:00,1 stop via Hyderabad,"₹ 8,644"
2009,IndiGo,27/10/2021,Bengaluru,Mumbai,10:40,14:45,1 stop via Chennai,"₹ 8,958"

Lenght :  2010

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-28/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 49
Time Count in Scraping  = 98
City Count in Scraping  = 100
spanFlightCost Count in Scraping  = 49
pFlightStops Count in Scraping  = 49
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2054,IndiGo,28/10/2021,Bengaluru,Mumbai,09:00,13:15,1 stop via Mangalore,"₹ 8,118"
2055,IndiGo,28/10/2021,Bengaluru,Mumbai,18:30,23:10,1 stop via Mangalore,"₹ 8,118"
2056,Vistara,28/10/2021,Bengaluru,Mumbai,19:25,23:00,1 stop via Hyderabad,"₹ 8,224"
2057,Air India,28/10/2021,Bengaluru,Mumbai,18:45,23:30,1 stop via Hyderabad,"₹ 8,224"
2058,IndiGo,28/10/2021,Bengaluru,Mumbai,10:00,15:35,1 stop via Hyderabad,"₹ 8,328"

Lenght :  2059

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-29/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 52
Time Count in Scraping  = 104
City Count in Scraping  = 106
spanFlightCost Count in Scraping  = 52
pFlightStops Count in Scraping  = 52
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2106,IndiGo,29/10/2021,Bengaluru,Mumbai,18:50,20:35,Non stop,"₹ 10,743"
2107,Go First,29/10/2021,Bengaluru,Mumbai,13:55,17:30,1 stop via Goa,"₹ 11,478"
2108,IndiGo,29/10/2021,Bengaluru,Mumbai,16:35,18:20,Non stop,"₹ 14,313"
2109,IndiGo,29/10/2021,Bengaluru,Mumbai,20:45,22:35,Non stop,"₹ 14,313"
2110,Air India,29/10/2021,Bengaluru,Mumbai,19:10,21:05,Non stop,"₹ 14,314"

Lenght :  2111

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 49
Time Count in Scraping  = 98
City Count in Scraping  = 100
spanFlightCost Count in Scraping  = 49
pFlightStops Count in Scraping  = 49
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2155,IndiGo,30/10/2021,Bengaluru,Mumbai,14:50,19:40,1 stop via Hyderabad,"₹ 11,373"
2156,IndiGo,30/10/2021,Bengaluru,Mumbai,16:35,18:20,Non stop,"₹ 11,583"
2157,IndiGo,30/10/2021,Bengaluru,Mumbai,06:25,10:25,1 stop via Goa,"₹ 12,266"
2158,Vistara,30/10/2021,Bengaluru,Mumbai,12:20,16:30,1 stop via Goa,"₹ 13,107"
2159,IndiGo,30/10/2021,Bengaluru,Mumbai,07:30,09:15,Non stop,"₹ 14,313"

Lenght :  2160

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-31/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 53
Time Count in Scraping  = 106
City Count in Scraping  = 108
spanFlightCost Count in Scraping  = 53
pFlightStops Count in Scraping  = 53
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2208,IndiGo,31/10/2021,Bengaluru,Mumbai,16:50,18:35,Non stop,"₹ 10,743"
2209,Spicejet,31/10/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 13,158"
2210,IndiGo,31/10/2021,Bengaluru,Mumbai,06:15,10:15,1 stop via Goa,"₹ 13,316"
2211,IndiGo,31/10/2021,Bengaluru,Mumbai,19:35,21:35,Non stop,"₹ 13,368"
2212,AirAsia,31/10/2021,Bengaluru,Mumbai,18:50,20:35,Non stop,"₹ 14,313"

Lenght :  2213

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-01/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 54
Time Count in Scraping  = 108
City Count in Scraping  = 110
spanFlightCost Count in Scraping  = 54
pFlightStops Count in Scraping  = 54
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2262,IndiGo,01/11/2021,Bengaluru,Mumbai,14:50,19:45,1 stop via Chennai,"₹ 9,221"
2263,IndiGo,01/11/2021,Bengaluru,Mumbai,15:45,20:45,1 stop via Chennai,"₹ 9,536"
2264,IndiGo,01/11/2021,Bengaluru,Mumbai,06:50,11:35,1 stop via Mangalore,"₹ 9,641"
2265,IndiGo,01/11/2021,Bengaluru,Mumbai,06:15,10:15,1 stop via Goa,"₹ 9,746"
2266,Spicejet,01/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 10,166"

Lenght :  2267

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-02/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 49
Time Count in Scraping  = 98
City Count in Scraping  = 98
spanFlightCost Count in Scraping  = 49
pFlightStops Count in Scraping  = 49
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2311,IndiGo,02/11/2021,Bengaluru,Mumbai,09:05,13:05,1 stop via Goa,"₹ 8,066"
2312,IndiGo,02/11/2021,Bengaluru,Mumbai,16:20,20:45,1 stop via Hyderabad,"₹ 8,066"
2313,IndiGo,02/11/2021,Bengaluru,Mumbai,18:45,23:25,1 stop via Hyderabad,"₹ 8,066"
2314,Vistara,02/11/2021,Bengaluru,Mumbai,19:25,23:00,1 stop via Hyderabad,"₹ 8,224"
2315,IndiGo,02/11/2021,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 8,958"

Lenght :  2316

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-03/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 54
Time Count in Scraping  = 108
City Count in Scraping  = 110
spanFlightCost Count in Scraping  = 54
pFlightStops Count in Scraping  = 54
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2365,IndiGo,03/11/2021,Bengaluru,Mumbai,06:15,10:15,1 stop via Goa,"₹ 8,591"
2366,IndiGo,03/11/2021,Bengaluru,Mumbai,12:45,17:45,1 stop via Goa,"₹ 8,696"
2367,IndiGo,03/11/2021,Bengaluru,Mumbai,07:05,11:35,1 stop via Chennai,"₹ 8,958"
2368,IndiGo,03/11/2021,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 8,958"
2369,IndiGo,03/11/2021,Bengaluru,Mumbai,06:50,11:35,1 stop via Mangalore,"₹ 9,011"

Lenght :  2370

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-04/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 48
Time Count in Scraping  = 96
City Count in Scraping  = 98
spanFlightCost Count in Scraping  = 48
pFlightStops Count in Scraping  = 48
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2413,IndiGo,04/11/2021,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 8,958"
2414,IndiGo,04/11/2021,Bengaluru,Mumbai,14:50,19:45,1 stop via Chennai,"₹ 8,958"
2415,IndiGo,04/11/2021,Bengaluru,Mumbai,15:45,20:45,1 stop via Chennai,"₹ 8,958"
2416,Air India,04/11/2021,Bengaluru,Mumbai,13:20,20:00,1 stop via New Delhi,"₹ 9,277"
2417,IndiGo,04/11/2021,Bengaluru,Mumbai,09:05,13:05,1 stop via Goa,"₹ 9,746"

Lenght :  2418

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-05/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 52
Time Count in Scraping  = 104
City Count in Scraping  = 106
spanFlightCost Count in Scraping  = 52
pFlightStops Count in Scraping  = 52
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2465,IndiGo,05/11/2021,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 8,958"
2466,IndiGo,05/11/2021,Bengaluru,Mumbai,14:50,19:45,1 stop via Chennai,"₹ 8,958"
2467,IndiGo,05/11/2021,Bengaluru,Mumbai,15:45,20:45,1 stop via Chennai,"₹ 8,958"
2468,Spicejet,05/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 9,798"
2469,Go First,05/11/2021,Bengaluru,Mumbai,15:45,19:40,1 stop via Goa,"₹ 9,904"

Lenght :  2470

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-06/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 55
Time Count in Scraping  = 110
City Count in Scraping  = 112
spanFlightCost Count in Scraping  = 55
pFlightStops Count in Scraping  = 55
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2520,IndiGo,06/11/2021,Bengaluru,Mumbai,15:45,20:45,1 stop via Chennai,"₹ 9,536"
2521,IndiGo,06/11/2021,Bengaluru,Mumbai,06:15,10:15,1 stop via Goa,"₹ 9,641"
2522,IndiGo,06/11/2021,Bengaluru,Mumbai,16:50,18:35,Non stop,"₹ 9,903"
2523,IndiGo,06/11/2021,Bengaluru,Mumbai,09:05,13:05,1 stop via Goa,"₹ 10,271"
2524,IndiGo,06/11/2021,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 10,271"

Lenght :  2525

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-07/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 54
Time Count in Scraping  = 108
City Count in Scraping  = 110
spanFlightCost Count in Scraping  = 54
pFlightStops Count in Scraping  = 54
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2574,IndiGo,07/11/2021,Bengaluru,Mumbai,09:05,13:05,1 stop via Goa,"₹ 12,371"
2575,IndiGo,07/11/2021,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 12,581"
2576,Go First,07/11/2021,Bengaluru,Mumbai,15:45,19:40,1 stop via Goa,"₹ 13,474"
2577,IndiGo,07/11/2021,Bengaluru,Mumbai,10:10,14:25,1 stop via Goa,"₹ 13,526"
2578,IndiGo,07/11/2021,Bengaluru,Mumbai,16:50,18:35,Non stop,"₹ 14,313"

Lenght :  2579

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-08/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 56
Time Count in Scraping  = 112
City Count in Scraping  = 114
spanFlightCost Count in Scraping  = 56
pFlightStops Count in Scraping  = 56
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2630,IndiGo,08/11/2021,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 7,919"
2631,IndiGo,08/11/2021,Bengaluru,Mumbai,15:45,20:45,1 stop via Chennai,"₹ 7,919"
2632,Vistara,08/11/2021,Bengaluru,Mumbai,19:25,23:00,1 stop via Hyderabad,"₹ 8,224"
2633,IndiGo,08/11/2021,Bengaluru,Mumbai,18:00,19:50,Non stop,"₹ 12,423"
2634,Spicejet,08/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 13,474"

Lenght :  2635

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-09/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2687,IndiGo,09/11/2021,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 7,005"
2688,IndiGo,09/11/2021,Bengaluru,Mumbai,15:45,20:45,1 stop via Chennai,"₹ 7,462"
2689,IndiGo,09/11/2021,Bengaluru,Mumbai,06:15,10:15,1 stop via Goa,"₹ 7,919"
2690,Vistara,09/11/2021,Bengaluru,Mumbai,19:25,23:00,1 stop via Hyderabad,"₹ 8,224"
2691,IndiGo,09/11/2021,Bengaluru,Mumbai,19:35,21:35,Non stop,"₹ 14,313"

Lenght :  2692

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-10/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 114
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2744,IndiGo,10/11/2021,Bengaluru,Mumbai,14:50,19:45,1 stop via Chennai,"₹ 6,548"
2745,IndiGo,10/11/2021,Bengaluru,Mumbai,14:50,19:45,1 stop via Chennai,"₹ 6,548"
2746,IndiGo,10/11/2021,Bengaluru,Mumbai,07:05,11:35,1 stop via Chennai,"₹ 7,005"
2747,IndiGo,10/11/2021,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 7,005"
2748,Spicejet,10/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 10,638"

Lenght :  2749

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-11/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 53
Time Count in Scraping  = 106
City Count in Scraping  = 108
spanFlightCost Count in Scraping  = 53
pFlightStops Count in Scraping  = 53
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2797,Go First,11/11/2021,Bengaluru,Mumbai,20:00,21:50,Non stop,"₹ 6,333"
2798,IndiGo,11/11/2021,Bengaluru,Mumbai,07:05,11:35,1 stop via Chennai,"₹ 6,548"
2799,IndiGo,11/11/2021,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 6,548"
2800,IndiGo,11/11/2021,Bengaluru,Mumbai,16:50,18:35,Non stop,"₹ 7,110"
2801,Spicejet,11/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 8,644"

Lenght :  2802

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-12/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 58
Time Count in Scraping  = 116
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 58
pFlightStops Count in Scraping  = 58
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2855,IndiGo,12/11/2021,Bengaluru,Mumbai,14:50,19:45,1 stop via Chennai,"₹ 6,548"
2856,IndiGo,12/11/2021,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 7,462"
2857,IndiGo,12/11/2021,Bengaluru,Mumbai,12:40,14:30,Non stop,"₹ 7,593"
2858,Go First,12/11/2021,Bengaluru,Mumbai,15:45,19:40,1 stop via Goa,"₹ 7,750"
2859,Spicejet,12/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 10,008"

Lenght :  2860

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-13/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 59
Time Count in Scraping  = 118
City Count in Scraping  = 120
spanFlightCost Count in Scraping  = 59
pFlightStops Count in Scraping  = 59
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2914,Vistara,13/11/2021,Bengaluru,Mumbai,19:25,23:00,1 stop via Hyderabad,"₹ 8,224"
2915,Vistara,13/11/2021,Bengaluru,Mumbai,19:25,23:00,1 stop via Hyderabad,"₹ 8,224"
2916,IndiGo,13/11/2021,Bengaluru,Mumbai,06:50,11:35,1 stop via Mangalore,"₹ 8,375"
2917,Spicejet,13/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 10,534"
2918,IndiGo,13/11/2021,Bengaluru,Mumbai,16:50,18:35,Non stop,"₹ 14,313"

Lenght :  2919

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-14/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 58
Time Count in Scraping  = 116
City Count in Scraping  = 118
spanFlightCost Count in Scraping  = 58
pFlightStops Count in Scraping  = 58
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
2972,IndiGo,14/11/2021,Bengaluru,Mumbai,14:50,19:45,1 stop via Chennai,"₹ 8,832"
2973,AirAsia,14/11/2021,Bengaluru,Mumbai,18:50,20:35,Non stop,"₹ 10,926"
2974,IndiGo,14/11/2021,Bengaluru,Mumbai,19:35,21:35,Non stop,"₹ 12,423"
2975,Spicejet,14/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 13,474"
2976,IndiGo,14/11/2021,Bengaluru,Mumbai,16:50,18:35,Non stop,"₹ 14,313"

Lenght :  2977

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-15/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 60
Time Count in Scraping  = 120
City Count in Scraping  = 120
spanFlightCost Count in Scraping  = 60
pFlightStops Count in Scraping  = 60
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3032,IndiGo,15/11/2021,Bengaluru,Mumbai,15:45,20:45,1 stop via Chennai,"₹ 7,005"
3033,IndiGo,15/11/2021,Bengaluru,Mumbai,16:50,18:35,Non stop,"₹ 7,593"
3034,IndiGo,15/11/2021,Bengaluru,Mumbai,19:35,21:35,Non stop,"₹ 8,013"
3035,IndiGo,15/11/2021,Bengaluru,Mumbai,18:00,19:50,Non stop,"₹ 9,168"
3036,Spicejet,15/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 9,798"

Lenght :  3037

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-16/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 56
Time Count in Scraping  = 112
City Count in Scraping  = 114
spanFlightCost Count in Scraping  = 56
pFlightStops Count in Scraping  = 56
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3088,Spicejet,16/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 5,966"
3089,IndiGo,16/11/2021,Bengaluru,Mumbai,15:45,20:45,1 stop via Chennai,"₹ 6,092"
3090,IndiGo,16/11/2021,Bengaluru,Mumbai,14:50,20:45,1 stop via Chennai,"₹ 6,092"
3091,IndiGo,16/11/2021,Bengaluru,Mumbai,12:45,17:45,1 stop via Goa,"₹ 6,548"
3092,IndiGo,16/11/2021,Bengaluru,Mumbai,16:50,18:35,Non stop,"₹ 10,743"

Lenght :  3093

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-17/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3145,IndiGo,17/11/2021,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 6,092"
3146,IndiGo,17/11/2021,Bengaluru,Mumbai,14:50,19:45,1 stop via Chennai,"₹ 6,092"
3147,IndiGo,17/11/2021,Bengaluru,Mumbai,15:45,20:45,1 stop via Chennai,"₹ 6,092"
3148,IndiGo,17/11/2021,Bengaluru,Mumbai,19:35,21:35,Non stop,"₹ 6,333"
3149,IndiGo,17/11/2021,Bengaluru,Mumbai,07:05,11:35,1 stop via Chennai,"₹ 6,548"

Lenght :  3150

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-18/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 55
Time Count in Scraping  = 110
City Count in Scraping  = 112
spanFlightCost Count in Scraping  = 55
pFlightStops Count in Scraping  = 55
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3200,IndiGo,18/11/2021,Bengaluru,Mumbai,15:45,20:45,1 stop via Chennai,"₹ 6,092"
3201,IndiGo,18/11/2021,Bengaluru,Mumbai,15:45,20:45,1 stop via Chennai,"₹ 6,092"
3202,IndiGo,18/11/2021,Bengaluru,Mumbai,07:05,11:35,1 stop via Chennai,"₹ 6,548"
3203,IndiGo,18/11/2021,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 7,005"
3204,Spicejet,18/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 8,328"

Lenght :  3205

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-19/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 56
Time Count in Scraping  = 112
City Count in Scraping  = 114
spanFlightCost Count in Scraping  = 56
pFlightStops Count in Scraping  = 56
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3256,IndiGo,19/11/2021,Bengaluru,Mumbai,18:15,00:20,1 stop via Chennai,"₹ 6,092"
3257,IndiGo,19/11/2021,Bengaluru,Mumbai,06:10,10:05,1 stop via Hyderabad,"₹ 6,548"
3258,IndiGo,19/11/2021,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 6,548"
3259,IndiGo,19/11/2021,Bengaluru,Mumbai,14:50,19:45,1 stop via Chennai,"₹ 6,548"
3260,Spicejet,19/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 8,434"

Lenght :  3261

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-20/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 56
Time Count in Scraping  = 112
City Count in Scraping  = 114
spanFlightCost Count in Scraping  = 56
pFlightStops Count in Scraping  = 56
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3312,IndiGo,20/11/2021,Bengaluru,Mumbai,07:10,12:15,1 stop via Hyderabad,"₹ 6,548"
3313,IndiGo,20/11/2021,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 6,548"
3314,AirAsia,20/11/2021,Bengaluru,Mumbai,05:35,07:15,Non stop,"₹ 6,726"
3315,IndiGo,20/11/2021,Bengaluru,Mumbai,07:05,11:35,1 stop via Chennai,"₹ 7,005"
3316,Spicejet,20/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 14,260"

Lenght :  3317

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-21/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 60
Time Count in Scraping  = 120
City Count in Scraping  = 122
spanFlightCost Count in Scraping  = 60
pFlightStops Count in Scraping  = 60
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3372,IndiGo,21/11/2021,Bengaluru,Mumbai,16:50,18:35,Non stop,"₹ 7,593"
3373,Air India,21/11/2021,Bengaluru,Mumbai,18:50,23:55,1 stop via Hyderabad,"₹ 7,853"
3374,Air India,21/11/2021,Bengaluru,Mumbai,18:50,23:55,1 stop via Hyderabad,"₹ 7,853"
3375,Vistara,21/11/2021,Bengaluru,Mumbai,19:25,23:00,1 stop via Hyderabad,"₹ 8,224"
3376,Spicejet,21/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 12,738"

Lenght :  3377

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-22/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 58
Time Count in Scraping  = 116
City Count in Scraping  = 118
spanFlightCost Count in Scraping  = 58
pFlightStops Count in Scraping  = 58
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3430,IndiGo,22/11/2021,Bengaluru,Mumbai,07:10,12:15,1 stop via Hyderabad,"₹ 8,696"
3431,IndiGo,22/11/2021,Bengaluru,Mumbai,15:45,20:45,1 stop via Chennai,"₹ 9,221"
3432,Go First,22/11/2021,Bengaluru,Mumbai,15:45,19:40,1 stop via Goa,"₹ 9,274"
3433,IndiGo,22/11/2021,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 9,641"
3434,Spicejet,22/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 12,738"

Lenght :  3435

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-23/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 60
Time Count in Scraping  = 120
City Count in Scraping  = 122
spanFlightCost Count in Scraping  = 60
pFlightStops Count in Scraping  = 60
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3490,Vistara,23/11/2021,Bengaluru,Mumbai,19:25,23:00,1 stop via Hyderabad,"₹ 8,224"
3491,Spicejet,23/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 8,748"
3492,IndiGo,23/11/2021,Bengaluru,Mumbai,14:50,19:45,1 stop via Chennai,"₹ 8,958"
3493,IndiGo,23/11/2021,Bengaluru,Mumbai,07:05,11:35,1 stop via Chennai,"₹ 9,326"
3494,IndiGo,23/11/2021,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 9,536"

Lenght :  3495

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 56
Time Count in Scraping  = 112
City Count in Scraping  = 112
spanFlightCost Count in Scraping  = 56
pFlightStops Count in Scraping  = 56
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3546,AirAsia,24/11/2021,Bengaluru,Mumbai,12:55,19:35,1 stop via Kochi,"₹ 4,184"
3547,Go First,24/11/2021,Bengaluru,Mumbai,06:30,12:30,1 stop via Ahmedabad,"₹ 4,442"
3548,IndiGo,24/11/2021,Bengaluru,Mumbai,21:45,03:15,1 stop via Goa,"₹ 4,502"
3549,Air India,24/11/2021,Bengaluru,Mumbai,18:50,23:55,1 stop via Hyderabad,"₹ 4,549"
3550,Spicejet,24/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 5,636"

Lenght :  3551

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 56
Time Count in Scraping  = 112
City Count in Scraping  = 114
spanFlightCost Count in Scraping  = 56
pFlightStops Count in Scraping  = 56
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3602,AirAsia,25/11/2021,Bengaluru,Mumbai,13:10,19:35,1 stop via Kochi,"₹ 4,184"
3603,AirAsia,25/11/2021,Bengaluru,Mumbai,12:55,19:35,1 stop via Kochi,"₹ 4,184"
3604,IndiGo,25/11/2021,Bengaluru,Mumbai,21:45,03:15,1 stop via Goa,"₹ 4,502"
3605,Go First,25/11/2021,Bengaluru,Mumbai,15:45,19:40,1 stop via Goa,"₹ 5,312"
3606,Spicejet,25/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 6,266"

Lenght :  3607

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3659,AirAsia,26/11/2021,Bengaluru,Mumbai,12:55,19:35,1 stop via Kochi,"₹ 4,184"
3660,Air India,26/11/2021,Bengaluru,Mumbai,18:50,23:55,1 stop via Hyderabad,"₹ 4,234"
3661,IndiGo,26/11/2021,Bengaluru,Mumbai,21:45,03:15,1 stop via Goa,"₹ 4,502"
3662,Go First,26/11/2021,Bengaluru,Mumbai,15:45,19:40,1 stop via Goa,"₹ 5,914"
3663,Spicejet,26/11/2021,Bengaluru,Mumbai,05:55,14:45,1 stop via Goa,"₹ 7,630"

Lenght :  3664

origin = BLR
destin = BLR

-----Skiped-----

origin = BLR
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 50
Time Count in Scraping  = 100
City Count in Scraping  = 100
spanFlightCost Count in Scraping  = 50
pFlightStops Count in Scraping  = 50
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3709,Vistara,26/10/2021,Bengaluru,New Delhi,08:00,10:40,Non stop,"₹ 7,909"
3710,Vistara,26/10/2021,Bengaluru,New Delhi,11:30,14:10,Non stop,"₹ 7,909"
3711,Vistara,26/10/2021,Bengaluru,New Delhi,07:00,09:40,Non stop,"₹ 8,329"
3712,IndiGo,26/10/2021,Bengaluru,New Delhi,10:00,16:50,1 stop via Hyderabad,"₹ 8,780"
3713,"Star Air, Vistara",26/10/2021,Bengaluru,New Delhi,06:45,12:30,1 stop via Hyderabad,"₹ 9,839"

Lenght :  3714

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-27/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 52
Time Count in Scraping  = 104
City Count in Scraping  = 106
spanFlightCost Count in Scraping  = 52
pFlightStops Count in Scraping  = 52
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3761,Vistara,27/10/2021,Bengaluru,New Delhi,17:55,20:30,Non stop,"₹ 8,329"
3762,Air India,27/10/2021,Bengaluru,New Delhi,17:45,20:35,Non stop,"₹ 9,694"
3763,Air India,27/10/2021,Bengaluru,New Delhi,10:25,13:10,Non stop,"₹ 10,534"
3764,Vistara,27/10/2021,Bengaluru,New Delhi,18:25,23:00,1 stop via Mumbai,"₹ 10,744"
3765,Air India,27/10/2021,Bengaluru,New Delhi,13:20,16:05,Non stop,"₹ 16,519"

Lenght :  3766

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-28/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 51
Time Count in Scraping  = 102
City Count in Scraping  = 104
spanFlightCost Count in Scraping  = 51
pFlightStops Count in Scraping  = 51
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3812,Go First,28/10/2021,Bengaluru,New Delhi,21:15,23:55,Non stop,"₹ 8,169"
3813,Air India,28/10/2021,Bengaluru,New Delhi,10:25,13:10,Non stop,"₹ 13,684"
3814,Air India,28/10/2021,Bengaluru,New Delhi,17:45,20:35,Non stop,"₹ 13,684"
3815,Air India,28/10/2021,Bengaluru,New Delhi,13:20,16:05,Non stop,"₹ 14,944"
3816,Air India,28/10/2021,Bengaluru,New Delhi,06:10,08:55,Non stop,"₹ 20,404"

Lenght :  3817

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-29/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 51
Time Count in Scraping  = 102
City Count in Scraping  = 104
spanFlightCost Count in Scraping  = 51
pFlightStops Count in Scraping  = 51
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3863,IndiGo,29/10/2021,Bengaluru,New Delhi,20:45,23:35,Non stop,"₹ 20,298"
3864,Go First,29/10/2021,Bengaluru,New Delhi,21:15,23:55,Non stop,"₹ 20,403"
3865,Vistara,29/10/2021,Bengaluru,New Delhi,17:55,20:30,Non stop,"₹ 20,404"
3866,Vistara,29/10/2021,Bengaluru,New Delhi,19:40,22:25,Non stop,"₹ 20,404"
3867,Vistara,29/10/2021,Bengaluru,New Delhi,21:10,23:45,Non stop,"₹ 20,404"

Lenght :  3868

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 61
Time Count in Scraping  = 122
City Count in Scraping  = 124
spanFlightCost Count in Scraping  = 61
pFlightStops Count in Scraping  = 61
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3924,AirAsia,30/10/2021,Bengaluru,New Delhi,11:25,14:05,Non stop,"₹ 20,402"
3925,Vistara,30/10/2021,Bengaluru,New Delhi,08:00,10:40,Non stop,"₹ 20,404"
3926,Vistara,30/10/2021,Bengaluru,New Delhi,11:30,14:10,Non stop,"₹ 20,404"
3927,Air India,30/10/2021,Bengaluru,New Delhi,13:20,16:05,Non stop,"₹ 20,404"
3928,Vistara,30/10/2021,Bengaluru,New Delhi,17:55,20:30,Non stop,"₹ 20,404"

Lenght :  3929

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-31/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 69
Time Count in Scraping  = 138
City Count in Scraping  = 140
spanFlightCost Count in Scraping  = 69
pFlightStops Count in Scraping  = 69
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
3993,IndiGo,31/10/2021,Bengaluru,New Delhi,14:00,16:45,Non stop,"₹ 18,198"
3994,AirAsia,31/10/2021,Bengaluru,New Delhi,00:45,03:35,Non stop,"₹ 19,561"
3995,Air India,31/10/2021,Bengaluru,New Delhi,06:10,08:55,Non stop,"₹ 20,404"
3996,Air India,31/10/2021,Bengaluru,New Delhi,10:25,13:00,Non stop,"₹ 20,404"
3997,Go First,31/10/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 26,294"

Lenght :  3998

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-01/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 70
Time Count in Scraping  = 140
City Count in Scraping  = 142
spanFlightCost Count in Scraping  = 70
pFlightStops Count in Scraping  = 70
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
4063,IndiGo,01/11/2021,Bengaluru,New Delhi,13:05,18:10,1 stop via Hyderabad,"₹ 10,323"
4064,Go First,01/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 10,732"
4065,Vistara,01/11/2021,Bengaluru,New Delhi,18:25,23:00,1 stop via Mumbai,"₹ 10,849"
4066,Air India,01/11/2021,Bengaluru,New Delhi,06:10,08:55,Non stop,"₹ 18,094"
4067,Go First,01/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 23,799"

Lenght :  4068

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-02/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 68
Time Count in Scraping  = 136
City Count in Scraping  = 136
spanFlightCost Count in Scraping  = 68
pFlightStops Count in Scraping  = 68
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
4131,IndiGo,02/11/2021,Bengaluru,New Delhi,08:55,15:20,1 stop via Jaipur,"₹ 8,134"
4132,IndiGo,02/11/2021,Bengaluru,New Delhi,08:55,15:20,1 stop via Jaipur,"₹ 8,134"
4133,IndiGo,02/11/2021,Bengaluru,New Delhi,11:20,18:30,1 stop via Pune,"₹ 8,780"
4134,Go First,02/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 10,732"
4135,Go First,02/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 13,775"

Lenght :  4136

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-03/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 70
Time Count in Scraping  = 140
City Count in Scraping  = 142
spanFlightCost Count in Scraping  = 70
pFlightStops Count in Scraping  = 70
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
4201,IndiGo,03/11/2021,Bengaluru,New Delhi,08:55,15:20,1 stop via Jaipur,"₹ 8,134"
4202,IndiGo,03/11/2021,Bengaluru,New Delhi,08:55,15:20,1 stop via Jaipur,"₹ 8,134"
4203,Go First,03/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 10,732"
4204,Go First,03/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 10,732"
4205,Air India,03/11/2021,Bengaluru,New Delhi,06:10,08:55,Non stop,"₹ 16,519"

Lenght :  4206

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-04/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 64
Time Count in Scraping  = 128
City Count in Scraping  = 128
spanFlightCost Count in Scraping  = 64
pFlightStops Count in Scraping  = 64
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
4265,Air India,04/11/2021,Bengaluru,New Delhi,17:50,20:35,Non stop,"₹ 7,489"
4266,Air India,04/11/2021,Bengaluru,New Delhi,21:00,23:55,Non stop,"₹ 7,489"
4267,AirAsia,04/11/2021,Bengaluru,New Delhi,22:10,01:00,Non stop,"₹ 7,489"
4268,Go First,04/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 10,732"
4269,Go First,04/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 10,732"

Lenght :  4270

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-05/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 68
Time Count in Scraping  = 136
City Count in Scraping  = 138
spanFlightCost Count in Scraping  = 68
pFlightStops Count in Scraping  = 68
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
4333,IndiGo,05/11/2021,Bengaluru,New Delhi,09:50,17:35,1 stop via Vadodara,"₹ 8,134"
4334,IndiGo,05/11/2021,Bengaluru,New Delhi,07:10,11:55,1 stop via Hyderabad,"₹ 9,746"
4335,Go First,05/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 10,732"
4336,Vistara,05/11/2021,Bengaluru,New Delhi,18:25,23:00,1 stop via Mumbai,"₹ 10,744"
4337,Go First,05/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 17,815"

Lenght :  4338

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-06/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 69
Time Count in Scraping  = 138
City Count in Scraping  = 140
spanFlightCost Count in Scraping  = 69
pFlightStops Count in Scraping  = 69
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
4402,IndiGo,06/11/2021,Bengaluru,New Delhi,15:20,20:25,1 stop via Jaipur,"₹ 8,780"
4403,IndiGo,06/11/2021,Bengaluru,New Delhi,15:20,20:25,1 stop via Jaipur,"₹ 8,780"
4404,Go First,06/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 10,732"
4405,Vistara,06/11/2021,Bengaluru,New Delhi,18:25,23:00,1 stop via Mumbai,"₹ 10,849"
4406,Go First,06/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 12,678"

Lenght :  4407

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-07/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 71
Time Count in Scraping  = 142
City Count in Scraping  = 144
spanFlightCost Count in Scraping  = 71
pFlightStops Count in Scraping  = 71
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
4473,IndiGo,07/11/2021,Bengaluru,New Delhi,15:20,20:25,1 stop via Jaipur,"₹ 10,636"
4474,IndiGo,07/11/2021,Bengaluru,New Delhi,15:20,20:25,1 stop via Jaipur,"₹ 10,636"
4475,Vistara,07/11/2021,Bengaluru,New Delhi,06:40,12:40,1 stop via Mumbai,"₹ 10,744"
4476,Go First,07/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 12,678"
4477,Go First,07/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 13,775"

Lenght :  4478

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-08/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 73
Time Count in Scraping  = 146
City Count in Scraping  = 148
spanFlightCost Count in Scraping  = 73
pFlightStops Count in Scraping  = 73
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
4546,IndiGo,08/11/2021,Bengaluru,New Delhi,07:10,11:55,1 stop via Hyderabad,"₹ 10,271"
4547,IndiGo,08/11/2021,Bengaluru,New Delhi,07:10,11:55,1 stop via Hyderabad,"₹ 10,271"
4548,Go First,08/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 10,732"
4549,Vistara,08/11/2021,Bengaluru,New Delhi,18:25,23:00,1 stop via Mumbai,"₹ 10,744"
4550,Go First,08/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 14,922"

Lenght :  4551

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-09/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 69
Time Count in Scraping  = 138
City Count in Scraping  = 140
spanFlightCost Count in Scraping  = 69
pFlightStops Count in Scraping  = 69
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
4615,AirAsia,09/11/2021,Bengaluru,New Delhi,22:10,01:00,Non stop,"₹ 7,489"
4616,IndiGo,09/11/2021,Bengaluru,New Delhi,13:05,18:10,1 stop via Hyderabad,"₹ 8,134"
4617,IndiGo,09/11/2021,Bengaluru,New Delhi,13:05,18:10,1 stop via Hyderabad,"₹ 8,134"
4618,Go First,09/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 10,732"
4619,Go First,09/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 12,678"

Lenght :  4620

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-10/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 69
Time Count in Scraping  = 138
City Count in Scraping  = 140
spanFlightCost Count in Scraping  = 69
pFlightStops Count in Scraping  = 69
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
4684,Air India,10/11/2021,Bengaluru,New Delhi,06:45,12:15,1 stop via Mumbai,"₹ 9,341"
4685,Air India,10/11/2021,Bengaluru,New Delhi,06:45,12:15,1 stop via Mumbai,"₹ 9,341"
4686,IndiGo,10/11/2021,Bengaluru,New Delhi,07:10,11:55,1 stop via Hyderabad,"₹ 9,798"
4687,Go First,10/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 10,732"
4688,Go First,10/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 12,678"

Lenght :  4689

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-11/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 68
Time Count in Scraping  = 136
City Count in Scraping  = 138
spanFlightCost Count in Scraping  = 68
pFlightStops Count in Scraping  = 68
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
4752,AirAsia,11/11/2021,Bengaluru,New Delhi,22:10,01:00,Non stop,"₹ 7,489"
4753,Air India,11/11/2021,Bengaluru,New Delhi,06:45,12:15,1 stop via Mumbai,"₹ 8,856"
4754,Air India,11/11/2021,Bengaluru,New Delhi,06:45,12:15,1 stop via Mumbai,"₹ 8,856"
4755,Go First,11/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 10,732"
4756,Go First,11/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 12,678"

Lenght :  4757

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-12/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 69
Time Count in Scraping  = 138
City Count in Scraping  = 140
spanFlightCost Count in Scraping  = 69
pFlightStops Count in Scraping  = 69
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
4821,Air India,12/11/2021,Bengaluru,New Delhi,06:45,12:15,1 stop via Mumbai,"₹ 10,205"
4822,Air India,12/11/2021,Bengaluru,New Delhi,06:45,12:15,1 stop via Mumbai,"₹ 10,205"
4823,IndiGo,12/11/2021,Bengaluru,New Delhi,15:20,20:25,1 stop via Jaipur,"₹ 10,426"
4824,Go First,12/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 10,732"
4825,Go First,12/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 12,678"

Lenght :  4826

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-13/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 69
Time Count in Scraping  = 138
City Count in Scraping  = 140
spanFlightCost Count in Scraping  = 69
pFlightStops Count in Scraping  = 69
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
4890,IndiGo,13/11/2021,Bengaluru,New Delhi,13:05,18:10,1 stop via Hyderabad,"₹ 10,218"
4891,IndiGo,13/11/2021,Bengaluru,New Delhi,10:05,15:15,1 stop via Nagpur,"₹ 10,533"
4892,Go First,13/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 10,732"
4893,Vistara,13/11/2021,Bengaluru,New Delhi,19:55,00:55,1 stop via Mumbai,"₹ 10,849"
4894,Go First,13/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 12,678"

Lenght :  4895

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-14/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 69
Time Count in Scraping  = 138
City Count in Scraping  = 140
spanFlightCost Count in Scraping  = 69
pFlightStops Count in Scraping  = 69
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
4959,IndiGo,14/11/2021,Bengaluru,New Delhi,15:20,20:25,1 stop via Jaipur,"₹ 10,426"
4960,Vistara,14/11/2021,Bengaluru,New Delhi,19:55,00:55,1 stop via Mumbai,"₹ 11,322"
4961,IndiGo,14/11/2021,Bengaluru,New Delhi,13:05,18:10,1 stop via Hyderabad,"₹ 11,426"
4962,Go First,14/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 12,678"
4963,Go First,14/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 19,510"

Lenght :  4964

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-15/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 70
Time Count in Scraping  = 140
City Count in Scraping  = 142
spanFlightCost Count in Scraping  = 70
pFlightStops Count in Scraping  = 70
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
5029,Air India,15/11/2021,Bengaluru,New Delhi,06:45,12:15,1 stop via Mumbai,"₹ 8,856"
5030,AirAsia,15/11/2021,Bengaluru,New Delhi,05:25,10:55,1 stop via Goa,"₹ 9,721"
5031,Go First,15/11/2021,Bengaluru,New Delhi,18:50,23:30,1 stop via Ahmedabad,"₹ 10,610"
5032,Go First,15/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 12,678"
5033,Go First,15/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 16,268"

Lenght :  5034

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-16/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 69
Time Count in Scraping  = 138
City Count in Scraping  = 140
spanFlightCost Count in Scraping  = 69
pFlightStops Count in Scraping  = 69
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
5098,IndiGo,16/11/2021,Bengaluru,New Delhi,13:05,18:10,1 stop via Hyderabad,"₹ 8,134"
5099,IndiGo,16/11/2021,Bengaluru,New Delhi,13:05,18:10,1 stop via Hyderabad,"₹ 8,134"
5100,Air India,16/11/2021,Bengaluru,New Delhi,06:45,12:15,1 stop via Mumbai,"₹ 8,856"
5101,Go First,16/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 10,732"
5102,Go First,16/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 12,678"

Lenght :  5103

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-17/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 70
Time Count in Scraping  = 140
City Count in Scraping  = 142
spanFlightCost Count in Scraping  = 70
pFlightStops Count in Scraping  = 70
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
5168,IndiGo,17/11/2021,Bengaluru,New Delhi,14:00,16:45,Non stop,"₹ 7,698"
5169,IndiGo,17/11/2021,Bengaluru,New Delhi,13:05,18:10,1 stop via Hyderabad,"₹ 8,134"
5170,IndiGo,17/11/2021,Bengaluru,New Delhi,13:05,18:10,1 stop via Hyderabad,"₹ 8,134"
5171,Air India,17/11/2021,Bengaluru,New Delhi,06:45,12:15,1 stop via Mumbai,"₹ 8,856"
5172,Go First,17/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 12,678"

Lenght :  5173

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-18/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 70
Time Count in Scraping  = 140
City Count in Scraping  = 142
spanFlightCost Count in Scraping  = 70
pFlightStops Count in Scraping  = 70
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
5238,IndiGo,18/11/2021,Bengaluru,New Delhi,09:30,12:15,Non stop,"₹ 7,698"
5239,Spicejet,18/11/2021,Bengaluru,New Delhi,06:05,14:25,1 stop via Bagdogra,"₹ 7,804"
5240,Spicejet,18/11/2021,Bengaluru,New Delhi,06:05,14:25,1 stop via Bagdogra,"₹ 7,804"
5241,Air India,18/11/2021,Bengaluru,New Delhi,06:45,12:15,1 stop via Mumbai,"₹ 9,341"
5242,Go First,18/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 12,678"

Lenght :  5243

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-19/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 70
Time Count in Scraping  = 140
City Count in Scraping  = 142
spanFlightCost Count in Scraping  = 70
pFlightStops Count in Scraping  = 70
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
5308,IndiGo,19/11/2021,Bengaluru,New Delhi,18:40,01:40,1 stop via Nagpur,"₹ 8,486"
5309,AirAsia,19/11/2021,Bengaluru,New Delhi,05:25,10:55,1 stop via Goa,"₹ 8,566"
5310,IndiGo,19/11/2021,Bengaluru,New Delhi,07:10,11:55,1 stop via Hyderabad,"₹ 10,271"
5311,Go First,19/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 12,678"
5312,Go First,19/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 19,510"

Lenght :  5313

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-20/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 71
Time Count in Scraping  = 142
City Count in Scraping  = 144
spanFlightCost Count in Scraping  = 71
pFlightStops Count in Scraping  = 71
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
5379,IndiGo,20/11/2021,Bengaluru,New Delhi,18:45,23:45,1 stop via Hyderabad,"₹ 10,008"
5380,IndiGo,20/11/2021,Bengaluru,New Delhi,07:10,11:55,1 stop via Hyderabad,"₹ 10,586"
5381,Go First,20/11/2021,Bengaluru,New Delhi,18:50,23:30,1 stop via Ahmedabad,"₹ 10,610"
5382,Go First,20/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 12,678"
5383,Go First,20/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 14,922"

Lenght :  5384

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-21/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 70
Time Count in Scraping  = 140
City Count in Scraping  = 142
spanFlightCost Count in Scraping  = 70
pFlightStops Count in Scraping  = 70
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
5449,AirAsia,21/11/2021,Bengaluru,New Delhi,05:25,10:55,1 stop via Goa,"₹ 9,721"
5450,IndiGo,21/11/2021,Bengaluru,New Delhi,07:10,11:55,1 stop via Hyderabad,"₹ 10,008"
5451,Go First,21/11/2021,Bengaluru,New Delhi,18:50,23:30,1 stop via Ahmedabad,"₹ 10,610"
5452,Go First,21/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 12,678"
5453,Go First,21/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 23,799"

Lenght :  5454

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-22/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 70
Time Count in Scraping  = 140
City Count in Scraping  = 142
spanFlightCost Count in Scraping  = 70
pFlightStops Count in Scraping  = 70
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
5519,AirAsia,22/11/2021,Bengaluru,New Delhi,11:20,14:05,Non stop,"₹ 8,745"
5520,AirAsia,22/11/2021,Bengaluru,New Delhi,20:45,01:45,1 stop via Goa,"₹ 9,721"
5521,AirAsia,22/11/2021,Bengaluru,New Delhi,20:45,01:45,1 stop via Goa,"₹ 9,721"
5522,IndiGo,22/11/2021,Bengaluru,New Delhi,07:10,11:55,1 stop via Hyderabad,"₹ 10,008"
5523,Go First,22/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 17,815"

Lenght :  5524

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-23/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 74
Time Count in Scraping  = 148
City Count in Scraping  = 150
spanFlightCost Count in Scraping  = 74
pFlightStops Count in Scraping  = 74
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
5593,AirAsia,23/11/2021,Bengaluru,New Delhi,22:10,01:00,Non stop,"₹ 7,489"
5594,AirAsia,23/11/2021,Bengaluru,New Delhi,20:45,01:45,1 stop via Goa,"₹ 7,910"
5595,AirAsia,23/11/2021,Bengaluru,New Delhi,20:45,01:45,1 stop via Goa,"₹ 7,910"
5596,IndiGo,23/11/2021,Bengaluru,New Delhi,15:20,20:25,1 stop via Jaipur,"₹ 8,780"
5597,Go First,23/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 10,732"

Lenght :  5598

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 71
Time Count in Scraping  = 142
City Count in Scraping  = 142
spanFlightCost Count in Scraping  = 71
pFlightStops Count in Scraping  = 71
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
5664,Vistara,24/11/2021,Bengaluru,New Delhi,06:40,12:40,1 stop via Mumbai,"₹ 4,901"
5665,Vistara,24/11/2021,Bengaluru,New Delhi,18:25,23:00,1 stop via Mumbai,"₹ 4,901"
5666,IndiGo,24/11/2021,Bengaluru,New Delhi,15:20,20:25,1 stop via Jaipur,"₹ 5,331"
5667,Go First,24/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 7,080"
5668,Go First,24/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 10,680"

Lenght :  5669

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 68
Time Count in Scraping  = 136
City Count in Scraping  = 136
spanFlightCost Count in Scraping  = 68
pFlightStops Count in Scraping  = 68
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
5732,Vistara,25/11/2021,Bengaluru,New Delhi,11:30,16:55,1 stop via Mumbai,"₹ 5,216"
5733,Vistara,25/11/2021,Bengaluru,New Delhi,18:25,23:00,1 stop via Mumbai,"₹ 5,216"
5734,Go First,25/11/2021,Bengaluru,New Delhi,18:50,23:30,1 stop via Ahmedabad,"₹ 5,306"
5735,Go First,25/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 7,080"
5736,Go First,25/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 10,680"

Lenght :  5737

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 70
Time Count in Scraping  = 140
City Count in Scraping  = 142
spanFlightCost Count in Scraping  = 70
pFlightStops Count in Scraping  = 70
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
5802,Air India,26/11/2021,Bengaluru,New Delhi,06:45,12:15,1 stop via Mumbai,"₹ 5,974"
5803,Go First,26/11/2021,Bengaluru,New Delhi,18:50,23:30,1 stop via Ahmedabad,"₹ 5,980"
5804,AirAsia,26/11/2021,Bengaluru,New Delhi,20:45,01:45,1 stop via Goa,"₹ 6,430"
5805,Go First,26/11/2021,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 7,080"
5806,Go First,26/11/2021,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 10,680"

Lenght :  5807

origin = BLR
destin = HYD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 64
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
5834,IndiGo,26/10/2021,Bengaluru,Hyderabad,10:40,16:55,1 stop via Chennai,"₹ 7,646"
5835,IndiGo,26/10/2021,Bengaluru,Hyderabad,15:00,19:50,1 stop via Chennai,"₹ 8,171"
5836,IndiGo,26/10/2021,Bengaluru,Hyderabad,22:00,06:20,1 stop via Chennai,"₹ 8,171"
5837,Vistara,26/10/2021,Bengaluru,Hyderabad,11:30,19:50,1 stop via New Delhi,"₹ 11,261"
5838,Air India,26/10/2021,Bengaluru,Hyderabad,17:20,23:35,1 stop via New Delhi,"₹ 13,054"

Lenght :  5839

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-27/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 38
Time Count in Scraping  = 76
City Count in Scraping  = 78
spanFlightCost Count in Scraping  = 38
pFlightStops Count in Scraping  = 38
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
5872,IndiGo,27/10/2021,Bengaluru,Hyderabad,09:20,13:25,1 stop via Chennai,"₹ 7,646"
5873,IndiGo,27/10/2021,Bengaluru,Hyderabad,09:20,13:25,1 stop via Chennai,"₹ 7,646"
5874,IndiGo,27/10/2021,Bengaluru,Hyderabad,07:10,13:25,1 stop via Chennai,"₹ 7,646"
5875,Vistara,27/10/2021,Bengaluru,Hyderabad,09:30,20:50,1 stop via Mumbai,"₹ 8,699"
5876,Vistara,27/10/2021,Bengaluru,Hyderabad,11:30,19:50,1 stop via New Delhi,"₹ 10,757"

Lenght :  5877

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-28/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 64
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
5903,AirAsia,28/10/2021,Bengaluru,Hyderabad,07:35,08:40,Non stop,"₹ 12,003"
5904,IndiGo,28/10/2021,Bengaluru,Hyderabad,05:50,13:40,1 stop via Vijayawada,"₹ 12,638"
5905,IndiGo,28/10/2021,Bengaluru,Hyderabad,05:50,13:40,1 stop via Vijayawada,"₹ 12,638"
5906,IndiGo,28/10/2021,Bengaluru,Hyderabad,15:05,19:55,1 stop via Vijayawada,"₹ 13,037"
5907,IndiGo,28/10/2021,Bengaluru,Hyderabad,10:10,19:55,1 stop via Vijayawada,"₹ 13,037"

Lenght :  5908

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-29/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 82
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
5943,IndiGo,29/10/2021,Bengaluru,Hyderabad,05:50,13:40,1 stop via Vijayawada,"₹ 11,903"
5944,Go First,29/10/2021,Bengaluru,Hyderabad,13:55,22:50,1 stop via Goa,"₹ 12,318"
5945,IndiGo,29/10/2021,Bengaluru,Hyderabad,15:05,19:55,1 stop via Vijayawada,"₹ 12,738"
5946,Go First,29/10/2021,Bengaluru,Hyderabad,06:00,12:45,1 stop via New Delhi,"₹ 13,604"
5947,Air India,29/10/2021,Bengaluru,Hyderabad,09:00,15:10,1 stop via Mysore,"₹ 15,021"

Lenght :  5948

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 35
Time Count in Scraping  = 70
City Count in Scraping  = 70
spanFlightCost Count in Scraping  = 35
pFlightStops Count in Scraping  = 35
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
5978,Vistara,30/10/2021,Bengaluru,Hyderabad,21:40,07:50,1 stop via Mumbai,"₹ 11,532"
5979,IndiGo,30/10/2021,Bengaluru,Hyderabad,05:50,13:35,1 stop via Vijayawada,"₹ 11,657"
5980,IndiGo,30/10/2021,Bengaluru,Hyderabad,10:40,16:55,1 stop via Chennai,"₹ 13,473"
5981,Vistara,30/10/2021,Bengaluru,Hyderabad,06:40,12:55,1 stop via Mumbai,"₹ 13,474"
5982,Go First,30/10/2021,Bengaluru,Hyderabad,13:55,22:50,1 stop via Goa,"₹ 15,995"

Lenght :  5983

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-31/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 39
Time Count in Scraping  = 78
City Count in Scraping  = 78
spanFlightCost Count in Scraping  = 39
pFlightStops Count in Scraping  = 39
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
6017,AirAsia,31/10/2021,Bengaluru,Hyderabad,15:35,22:35,1 stop via Chennai,"₹ 10,835"
6018,IndiGo,31/10/2021,Bengaluru,Hyderabad,06:20,13:30,1 stop via Vijayawada,"₹ 11,504"
6019,IndiGo,31/10/2021,Bengaluru,Hyderabad,14:45,19:20,1 stop via Vijayawada,"₹ 11,588"
6020,IndiGo,31/10/2021,Bengaluru,Hyderabad,10:55,19:20,1 stop via Vijayawada,"₹ 11,588"
6021,Go First,31/10/2021,Bengaluru,Hyderabad,14:00,22:10,1 stop via Kolkata,"₹ 16,308"

Lenght :  6022

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-01/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 82
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
6057,IndiGo,01/11/2021,Bengaluru,Hyderabad,06:20,13:30,1 stop via Vijayawada,"₹ 9,982"
6058,IndiGo,01/11/2021,Bengaluru,Hyderabad,10:25,15:10,1 stop via Tirupati,"₹ 10,164"
6059,IndiGo,01/11/2021,Bengaluru,Hyderabad,14:45,22:50,1 stop via Vijayawada,"₹ 10,344"
6060,Vistara,01/11/2021,Bengaluru,Hyderabad,09:45,17:00,1 stop via New Delhi,"₹ 10,757"
6061,IndiGo,01/11/2021,Bengaluru,Hyderabad,14:45,19:20,1 stop via Vijayawada,"₹ 11,394"

Lenght :  6062

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-02/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 38
Time Count in Scraping  = 76
City Count in Scraping  = 76
spanFlightCost Count in Scraping  = 38
pFlightStops Count in Scraping  = 38
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
6095,IndiGo,02/11/2021,Bengaluru,Hyderabad,07:05,11:05,1 stop via Chennai,"₹ 7,541"
6096,IndiGo,02/11/2021,Bengaluru,Hyderabad,18:15,22:20,1 stop via Chennai,"₹ 7,541"
6097,IndiGo,02/11/2021,Bengaluru,Hyderabad,22:55,07:45,1 stop via Chennai,"₹ 7,961"
6098,Go First,02/11/2021,Bengaluru,Hyderabad,15:45,23:20,1 stop via Goa,"₹ 8,118"
6099,IndiGo,02/11/2021,Bengaluru,Hyderabad,14:45,19:20,1 stop via Vijayawada,"₹ 9,982"

Lenght :  6100

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-03/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 82
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
6135,IndiGo,03/11/2021,Bengaluru,Hyderabad,09:10,13:10,1 stop via Chennai,"₹ 7,961"
6136,Go First,03/11/2021,Bengaluru,Hyderabad,15:45,23:20,1 stop via Goa,"₹ 8,118"
6137,IndiGo,03/11/2021,Bengaluru,Hyderabad,10:55,17:05,1 stop via Chennai,"₹ 8,171"
6138,IndiGo,03/11/2021,Bengaluru,Hyderabad,10:25,15:10,1 stop via Tirupati,"₹ 8,904"
6139,IndiGo,03/11/2021,Bengaluru,Hyderabad,14:45,19:20,1 stop via Vijayawada,"₹ 9,378"

Lenght :  6140

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-04/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 36
Time Count in Scraping  = 72
City Count in Scraping  = 74
spanFlightCost Count in Scraping  = 36
pFlightStops Count in Scraping  = 36
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
6171,IndiGo,04/11/2021,Bengaluru,Hyderabad,07:05,11:05,1 stop via Chennai,"₹ 7,541"
6172,IndiGo,04/11/2021,Bengaluru,Hyderabad,22:55,07:45,1 stop via Chennai,"₹ 7,646"
6173,Vistara,04/11/2021,Bengaluru,Hyderabad,18:25,07:50,1 stop via Mumbai,"₹ 7,817"
6174,Go First,04/11/2021,Bengaluru,Hyderabad,15:45,23:20,1 stop via Goa,"₹ 8,118"
6175,IndiGo,04/11/2021,Bengaluru,Hyderabad,14:45,19:20,1 stop via Vijayawada,"₹ 9,378"

Lenght :  6176

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-05/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 37
Time Count in Scraping  = 74
City Count in Scraping  = 76
spanFlightCost Count in Scraping  = 37
pFlightStops Count in Scraping  = 37
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
6208,IndiGo,05/11/2021,Bengaluru,Hyderabad,10:25,15:10,1 stop via Tirupati,"₹ 8,379"
6209,IndiGo,05/11/2021,Bengaluru,Hyderabad,06:20,13:30,1 stop via Vijayawada,"₹ 8,748"
6210,IndiGo,05/11/2021,Bengaluru,Hyderabad,10:55,19:20,1 stop via Vijayawada,"₹ 8,958"
6211,IndiGo,05/11/2021,Bengaluru,Hyderabad,14:45,22:50,1 stop via Vijayawada,"₹ 9,562"
6212,IndiGo,05/11/2021,Bengaluru,Hyderabad,14:45,19:20,1 stop via Vijayawada,"₹ 9,772"

Lenght :  6213

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-06/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 41
Time Count in Scraping  = 82
City Count in Scraping  = 82
spanFlightCost Count in Scraping  = 41
pFlightStops Count in Scraping  = 41
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
6249,Vistara,06/11/2021,Bengaluru,Hyderabad,11:30,20:55,1 stop via Mumbai,"₹ 7,817"
6250,IndiGo,06/11/2021,Bengaluru,Hyderabad,07:05,11:05,1 stop via Chennai,"₹ 8,171"
6251,IndiGo,06/11/2021,Bengaluru,Hyderabad,14:45,22:50,1 stop via Vijayawada,"₹ 9,404"
6252,IndiGo,06/11/2021,Bengaluru,Hyderabad,14:45,19:20,1 stop via Vijayawada,"₹ 9,772"
6253,IndiGo,06/11/2021,Bengaluru,Hyderabad,06:20,13:30,1 stop via Vijayawada,"₹ 10,008"

Lenght :  6254

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-07/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 38
Time Count in Scraping  = 76
City Count in Scraping  = 76
spanFlightCost Count in Scraping  = 38
pFlightStops Count in Scraping  = 38
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
6287,IndiGo,07/11/2021,Bengaluru,Hyderabad,10:55,17:05,1 stop via Chennai,"₹ 9,536"
6288,IndiGo,07/11/2021,Bengaluru,Hyderabad,06:20,13:30,1 stop via Vijayawada,"₹ 10,743"
6289,IndiGo,07/11/2021,Bengaluru,Hyderabad,14:45,19:20,1 stop via Vijayawada,"₹ 12,355"
6290,IndiGo,07/11/2021,Bengaluru,Hyderabad,15:45,19:30,1 stop via Chennai,"₹ 12,686"
6291,IndiGo,07/11/2021,Bengaluru,Hyderabad,14:50,18:10,1 stop via Chennai,"₹ 12,791"

Lenght :  6292

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-08/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 42
Time Count in Scraping  = 84
City Count in Scraping  = 84
spanFlightCost Count in Scraping  = 42
pFlightStops Count in Scraping  = 42
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
6329,IndiGo,08/11/2021,Bengaluru,Hyderabad,14:45,19:20,1 stop via Vijayawada,"₹ 6,254"
6330,IndiGo,08/11/2021,Bengaluru,Hyderabad,10:55,19:20,1 stop via Vijayawada,"₹ 6,254"
6331,IndiGo,08/11/2021,Bengaluru,Hyderabad,22:55,07:45,1 stop via Chennai,"₹ 6,638"
6332,Vistara,08/11/2021,Bengaluru,Hyderabad,06:40,12:15,1 stop via Mumbai,"₹ 7,397"
6333,IndiGo,08/11/2021,Bengaluru,Hyderabad,10:25,15:10,1 stop via Tirupati,"₹ 8,937"

Lenght :  6334

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-09/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 42
Time Count in Scraping  = 84
City Count in Scraping  = 84
spanFlightCost Count in Scraping  = 42
pFlightStops Count in Scraping  = 42
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
6371,IndiGo,09/11/2021,Bengaluru,Hyderabad,22:55,07:45,1 stop via Chennai,"₹ 5,105"
6372,IndiGo,09/11/2021,Bengaluru,Hyderabad,07:05,11:05,1 stop via Chennai,"₹ 5,488"
6373,IndiGo,09/11/2021,Bengaluru,Hyderabad,06:20,13:30,1 stop via Vijayawada,"₹ 6,254"
6374,IndiGo,09/11/2021,Bengaluru,Hyderabad,14:45,19:20,1 stop via Vijayawada,"₹ 6,638"
6375,Vistara,09/11/2021,Bengaluru,Hyderabad,06:40,12:15,1 stop via Mumbai,"₹ 7,397"

Lenght :  6376

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-10/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 80
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
6411,IndiGo,10/11/2021,Bengaluru,Hyderabad,14:45,19:20,1 stop via Vijayawada,"₹ 5,488"
6412,IndiGo,10/11/2021,Bengaluru,Hyderabad,10:55,19:20,1 stop via Vijayawada,"₹ 5,488"
6413,IndiGo,10/11/2021,Bengaluru,Hyderabad,06:20,13:30,1 stop via Vijayawada,"₹ 5,871"
6414,IndiGo,10/11/2021,Bengaluru,Hyderabad,10:55,17:05,1 stop via Chennai,"₹ 5,871"
6415,IndiGo,10/11/2021,Bengaluru,Hyderabad,10:25,15:10,1 stop via Tirupati,"₹ 7,021"

Lenght :  6416

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-11/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 44
Time Count in Scraping  = 88
City Count in Scraping  = 88
spanFlightCost Count in Scraping  = 44
pFlightStops Count in Scraping  = 44
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,26/10/2021,Mumbai,Bengaluru,11:40,18:55,1 stop via New Delhi,"₹ 5,100"
2,Go First,26/10/2021,Mumbai,Bengaluru,06:05,07:45,Non stop,"₹ 5,102"
3,Go First,26/10/2021,Mumbai,Bengaluru,18:05,19:45,Non stop,"₹ 5,102"
4,Go First,26/10/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,102"
...,...,...,...,...,...,...,...,...
6455,IndiGo,11/11/2021,Bengaluru,Hyderabad,10:55,19:20,1 stop via Vijayawada,"₹ 5,105"
6456,IndiGo,11/11/2021,Bengaluru,Hyderabad,06:20,13:30,1 stop via Vijayawada,"₹ 5,488"
6457,IndiGo,11/11/2021,Bengaluru,Hyderabad,14:45,19:20,1 stop via Vijayawada,"₹ 5,488"
6458,IndiGo,11/11/2021,Bengaluru,Hyderabad,22:55,07:45,1 stop via Chennai,"₹ 5,488"
6459,Vistara,11/11/2021,Bengaluru,Hyderabad,06:40,12:15,1 stop via Mumbai,"₹ 7,397"

Lenght :  6460

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-HYD-12/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
EXCEPTION IN (<ipython-input-3-7266f55c7cd2>, LINE 19 "driver.get(baseDataUrl)  			 # URL requested in browser."): Message: unknown error: net::ERR_NAME_NOT_RESOLVED
  (Session info: chrome=94.0.4606.81)

12/11/2021  scraping complete

--------------
origin = DEL
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
EXCEPTION IN (<ipython-input-3-7266f55c7cd2>, LINE 19 "driver.get(baseDataUrl)  			 # URL requested in browser."): Message: unknown error: net::ERR_NAME_NOT_RESOLVED
  (Session info: chrome=94.0.4606.81)

26/10/2021  scraping complete

origin = DEL
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
EXCEPTION IN (<ipython-input-3-7266f55c7cd2>, LINE 19 "driver.get(baseDataUrl)  			 # URL requested in browser."): Message: unknown error: net::ERR_NAME_NOT_RESOLVED
  (Session info: chrome=94.0.4606.81)

26/10/2021  scraping complete

origin = DEL
destin = DEL

-----Skiped-----

origin = DEL
destin = HYD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-HYD-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
EXCEPTION IN (<ipython-input-3-7266f55c7cd2>, LINE 19 "driver.get(baseDataUrl)  			 # URL requested in browser."): Message: unknown error: net::ERR_NAME_NOT_RESOLVED
  (Session info: chrome=94.0.4606.81)

26/10/2021  scraping complete

--------------
origin = HYD
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=HYD-BOM-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
EXCEPTION IN (<ipython-input-3-7266f55c7cd2>, LINE 19 "driver.get(baseDataUrl)  			 # URL requested in browser."): Message: unknown error: net::ERR_NAME_NOT_RESOLVED
  (Session info: chrome=94.0.4606.81)

26/10/2021  scraping complete

origin = HYD
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=HYD-BLR-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
EXCEPTION IN (<ipython-input-3-7266f55c7cd2>, LINE 19 "driver.get(baseDataUrl)  			 # URL requested in browser."): Message: unknown error: net::ERR_NAME_NOT_RESOLVED
  (Session info: chrome=94.0.4606.81)

26/10/2021  scraping complete

origin = HYD
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=HYD-DEL-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng
EXCEPTION IN (<ipython-input-3-7266f55c7cd2>, LINE 19 "driver.get(baseDataUrl)  			 # URL requested in browser."): Message: unknown error: net::ERR_NAME_NOT_RESOLVED
  (Session info: chrome=94.0.4606.81)

26/10/2021  scraping complete

origin = HYD
destin = HYD

-----Skiped-----